[2021-07-08 19:28] rafaelauler commented on #183
Thanks for starting this thread.

About number 4, I'm on it and it is going to be a very weird gymnastics to do that in BOLT (if possible at all) without adding our changes to LLVM to support emitting DWARF expressions. So I'll probably push D98301 forward.

[2021-07-09 07:54] vleonen commented on #117
@maksfb I still can reproduce the issue with new tests for instrumentation support introduced in MR#184 commit 439ffb597c774556b505809032b01eb477be94b1
There is a workaround commit on top of that MR, but it breaks tests for gcc versions older than gcc-8 due to usage of the newly introduced option -fcf-protection : b9ce0d79abe7daff171e7c31c18dcec3bf058c82

My environment:
Ubuntu 20.04.2 LTS
$ /usr/

[2021-07-09 17:22] maksfb commented on #117
Is there `bnd jmp...` instruction in your `.plt.got` at 0x8?
403b668 includes a test case `plt-sec.test`. Does it pass for you? It should have the same `bnd` prefix.

[2021-07-09 21:42] vleonen commented on #117
@maksfb Yes, there is `bnd jmpq` instruction. But I found that each PLT entry in my case is 16-byte size, while Bolt assumes that .plt.got entries are 8-byte size.
[code]
Also, I found that test introduced in 403b668  doesn't produce .plt.got section (only .plt & .plt.sec), so .plt.got case is not checked.
Based on this - I made a simple patch that changes .plt.got entry size to match the size in

[2021-07-09 21:54] maksfb commented on #117
Thanks for the info. Will have to find a better way to parse PLT sections. We have test cases where `.plt.got` entries are 8-bytes long and this patch will break them.

[2021-07-13 18:09] kmod opened #187 "perf2bolt crashes"
This could certainly be user error due to the weird situation but I'm getting some crashes with perf2bolt.

My steps to create these files were:
- On my Ubuntu 20.04 machine, create a 16.04 docker container
- Use the 16.04 `perf` binary from an older kernel, but with the running newer kernel
- Run the profiling run
- Run perf2bolt, it crashes

Things I tried:
- I passed `-jump-tables=none` to the

[2021-07-13 22:58] rafaelauler opened #188 "Last rebase from July 6 introduces a ~10% memory regression"
For some workloads. We know at the moment that this is coming from changes in LLVM from May 25th to July 6th.

[2021-07-16 15:49] vleonen commented on #117
Hello @maksfb
I'm wondering if Bolt team has a plan to introduce better support for PLT entries size detection in near future?
Can you share or point at existing tests that use 8-bytes long .plt.got entries?

[2021-07-16 15:52] maksfb commented on #117
Hi Vasily, thanks for checking. Yes, I’ll post the fix and the test case.

[2021-07-19 20:02] kloczek commented on #123
Looks like https://github.com/facebookincubator/BOLT/tree/rebased shows 404.
I'm still struggling with find step by step instruction how to build BOLT. Can you point on such instruction?
Q: is it possible to use BOLT against latest stable LLVM 12.0.1?

[2021-07-19 20:19] aaupov commented on #123
@kloczek: we've recently renamed the `rebased` branch to `main`, with no other changes to the build system.
You can use our Dockerfile build script as a step-by-step guide how to build BOLT: https://github.com/facebookincubator/BOLT/blob/main/.github/workflows/Dockerfile#L17

What do you mean exactly by that? It's possible to build BOLT and apply it to LLVM 12.0.1 binaries (such as clang or llvm-*

[2021-07-19 22:49] kloczek commented on #123
My understanding is that BOLT it is set of modifications/patches which needs to be applied on top of LLVM source.
If that is true simple I've been assuming that it is set of patches which could be possible to use against last stable LLVM tree.
BOLT and LLVM source trees seems similar however I don't see in BOLT tree any LLVM git tags and any other tags which could be possible to use as reference p

[2021-07-23 01:35] rafaelauler commented on #188
Blame: https://reviews.llvm.org/D76877

After reverting this diff, I was able to avoid the regression observed in some workloads affected by it.

[2021-07-28 09:11] chen-hu-97 opened #193 "llvm.patch missing in main branch"
Now the default branch is main which doesn't include llvm.patch. It fails to build if we follow the steps in  https://github.com/facebookincubator/BOLT/tree/main/bolt#manual-build :

Is following solution right?
$ git clone https://github.com/facebookincubator/BOLT llvm-bolt **--branch master**
But master branch is stale?

[2021-07-28 10:40] yota9 commented on #193
Hello! On the current branch (main) the bolt is integrated to llvm, you don't have to patch it. Use cmake with DLLVM_ENABLE_PROJECTS="bolt" option to build Bolt.

[2021-07-28 21:31] aaupov commented on #193
@chen-hu-97:
Thanks for flagging the issue. Our documentation got out of sync as we moved to rebased branch (now called main).
In the meantime, you can follow our Docker build instructions: https://github.com/facebookincubator/BOLT/blob/main/.github/workflows/Dockerfile

[2021-07-30 12:27] zpget opened #194 "build latest bolt fail"
gcc: gcc8.2
system: kernel 3.10.0.514.26.2.el7.x86_64

build error:
lvm-bolt/llvm/lib/Support/BinaryStreamError.cpp:9:
llvm-bolt/llvm/lib/Support/BinaryStreamError.cpp
gcc-8.2/include/c++/8.2.0/cstdlib:137:11: error: ‘::at_quick_exit’ has not been declared

what depends need?

[2021-07-30 17:57] rafaelauler commented on #194
This is LLVM code. I would start by checking that your setup is able to build LLVM master (http://llvm.org and https://github.com/llvm/llvm-project/) before building BOLT.

[2021-08-04 18:53] Sameeranjoshi opened #195 "Classify Vector instructions using BOLT and MC layer."
I am trying to classify `MCInst` represented vector instructions specific to X86 using BOLT.
Specifically I am interested to check for the packed (double/single) instructions (PD/PS) based instructions at `MCInst` level.

I see 2 approaches :
1. Implement some high level routine( `isVector`) in `X86MCPlusBuilder.cpp` similar to the ones already present in the file(e.g `isCMP`)
 The drawback I see

[2021-08-04 20:45] aaupov commented on #195
Hi Sameeran!
I think the second approach is a better one. We use custom matching (eg `isCMP`) in cases where that information isn't available in the tablegen definition. For your use case, it makes more sense to rely on tablegen-provided information.

Regarding the check for PS/PD instructions: are you trying to capture the encoding or the execution domain aspect? If the former, the approach with

[2021-08-05 19:54] aaupov commented on #193
The documentation is updated: see [Manual Build](https://github.com/facebookincubator/BOLT#manual-build)

[2021-08-05 19:54] #193 closed

[2021-08-07 05:24] Sameeranjoshi commented on #195
Hello Amir,
Thanks for quick replies.

I am using the first approach of capturing encoding aspect, I am unaware of the second approach, although I tried to see the interface of `getExecutionDomain(const MachineInstr &)` which seems to be accepting `MachineInst` and not `MCInst`.

Given the first approach we have one small confusion regarding the `SHLX32rr` instruction, as it was classified as a ve

[2021-08-10 08:31] vleonen commented on #137
@ccx1225 @undingen Please check if the issue is solved in the recent Bolt version (main branch, after commits from MR#192 were cherry-picked).

[2021-08-13 09:52] aaupov commented on #195
You're right. This interface unfortunately is not applicable (MachineInst is lowered into MCInst). Sorry for confusion.

SHLX is an exception, as it's an integer instruction encoded using VEX prefix. All such exceptions are listed in Intel's SDM Volume 2, 2.5.1 Exceptions Type 13 (VEX-Encoded GPR Instructions):

[2021-08-13 15:34] aaupov commented on #157
I've looked into the issue and it appears that with `-fuse-ld=gold` there are relocations that confuse BOLT:

objdump -dr, without `-fuse-ld=gold`:
[code]

With `-fuse-ld=gold`:
[code]

I'm not an ARM expert but these `__init_array_end` relocations appears erroneous:

                        5f0: R_AARCH64_ADD_ABS_LO12_NC  __init_array_end

So my advice would be to avoid `-fuse-ld=gold`. If you co

[2021-08-13 20:53] aaupov commented on #194
Let us know if you run into BOLT build issues, provided that LLVM builds successfully.

[2021-08-13 20:53] #194 closed

[2021-08-13 20:56] #160 closed

[2021-08-16 03:43] aaupov commented on #157
Checked AArch64 ELF ABI to confirm that ADR/ADD relocations are not applicable to movk/mov instructions:
https://github.com/ARM-software/abi-aa/blob/2bcab1e3b22d55170c563c3c7940134089176746/aaelf64/aaelf64.rst#id53

[2021-08-16 04:35] aaupov commented on #187
Hi @kmod,

Sorry for taking so long to get to this issue. I think I was able to repro the issue. Is that the assertion that you were seeing?
[code]

[2021-08-16 07:49] ijinma commented on #157
Hi, we have also found this problem, As yota @yota9-huawei  says: "The ADR_PREL relocation is used for ADRP instruction, but it is used for b here, it is some kind of mess.." .
![image](https://user-images.githubusercontent.com/57284757/129528155-a4c94d86-e93e-4d0e-8931-e39be5c02e53.png)
And yota seems to be fixing this type of problem :) . By the way, I'm a beginner in linker relocations , so can

[2021-08-16 07:49] aaupov commented on #183
For those tracking the status, here's the remaining set of patches:
1. [DWARF] Support DWARF expressions in CFI instructions: https://reviews.llvm.org/D107515 (WIP)
2. [DWARF] Find offset of attribute: https://reviews.llvm.org/D107874 (WIP)
3. [DWARF] Add findAttribute to DWARFAbbreviationDeclaration: https://reviews.llvm.org/D107875 (WIP)
4. [DWARF] AbsoluteAddr: https://reviews.llvm.org/D105747

[2021-08-16 08:09] aaupov commented on #157
I've filed a bug on gold's bugzilla: https://sourceware.org/bugzilla/show_bug.cgi?id=28234.
As far as I can see, the issue is not with BOLT, so I'm closing this issue.

[2021-08-16 08:09] #157 closed

[2021-08-16 08:26] aaupov commented on #174
@ayermolo: can you please weigh in on this issue?

[2021-08-16 21:53] ayermolo commented on #174
Not sure. I am not familiar with that part of the code. @KSSysLab  can you post a small repro program?

[2021-08-17 13:12] #195 closed

[2021-08-17 13:37] Sameeranjoshi opened #202 "BOLT-ERROR: PC-relative operand can't be evaluated:"
I am trying to run `SPEC CPU 2017` rate runs, using `llvm-bolt` for which I am trying to generate the bolt cfg specifically for the ICC binaries.

Here's how I am running it.
[code]
I get a few errors as
[code]
Below flags were added to the SPEC config specifically for running with bolt.
[code]

Debugging the error, seems to come from `BinaryFunction::disassemble()` function, which flags that ther

[2021-08-24 07:59] ccx1225 commented on #137
@vleonen ， thank you. It is OK

[2021-08-24 08:09] ccx1225 opened #205 "Bolt-Error: in aarch64 targetbou"
which temp.c, using aarch64le toolchains instrument, will segmfault.

![image](https://user-images.githubusercontent.com/45142039/130579817-3535d7d2-1341-480e-afd1-73177cf7d9ab.png)

the process of compiler:

![image](https://user-images.githubusercontent.com/45142039/130580583-d4488d34-71eb-4e90-b171-c891d5677b74.png)

The preocess of bolt:

BOLT-INFO: shared object or position-independent execut

[2021-08-24 22:40] yota9 commented on #205
Hello @ccx1225.
Instrumentation for aarch64 is currently unsupported

[2021-08-26 03:19] Haishan312 opened #206 "BOLT-CoreDump: assert failed in long-jmp stage on aarch64 platform"
Hi,
thanks firstly.

using llvm-bolt(lastest main branch) to generate optimal binary for aarch64.
[code]

Then I get assert failed in long-jmp pass.
[code]

this assert failure show we can't insert new tailcall basicblock in CFG_Finalized stage.
Therefore, I update state of Function, and this assert failure is gone.
and new basic block information:
[code]
But in the later emit-link stage,  I encou

[2021-08-30 17:47] Sameeranjoshi commented on #202
It was to disable function in-lining for optimizations and to be explicit and not have optimizations triggered, we are working on an internal use-case[1] for performance measurement using great framework which BOLT provides at binary and MC layer of LLVM.

[1] https://lists.llvm.org/pipermail/llvm-dev/2020-October/145915.html

Thanks for looking into the issue.

[2021-09-09 17:12] yyang29 opened #210 "Does BOLT support RISC-V?"
Does BOLT support RISC-V?

[2021-09-09 17:54] yota9 commented on #210
Hello, no it only supports x86_64 and aaarch64.

[2021-09-09 18:33] #210 closed

[2021-09-17 18:22] mgrice opened #211 "parseLSDA error with no warnings"
compiling with gcc 7.3.  Would that be a problem?

possibly important compile flags:
-std=c++11
-fno-exceptions
-fno-rtti
-z noexecstack
-fdata-sections
-ffunction-sections
-g
-O3

PERF2BOLT: Starting data aggregation job for perfbolt.data
PERF2BOLT: spawning perf job to read branch events
PERF2BOLT: spawning perf job to read mem events
PERF2BOLT: spawning perf job to read process events
PERF2BOLT

[2021-09-18 16:33] yota9 commented on #137
@rafaelauler I think we can close this?

[2021-09-18 17:26] kmod commented on #137
We're still having an issue with running bolt on a shared object -- it no longer crashes during the build process, but the resulting shared object has different behavior. We haven't had time to track it down, but if it helps we can post the raw files.

[2021-09-18 18:23] yota9 commented on #137
Sure @kmod we can try to figure out what is happening, please give us the example which we can use to reproduce the problem

[2021-09-20 07:36] undingen commented on #137
I work together with @kmod on pyston and took a look at the issue:
It comes down to `-instrument` setting `-jump-tables=move` internally which generates invalidate code for our main interpreter loop (very complicated function using computed gotos etc) which we already track in https://github.com/facebookincubator/BOLT/issues/175. Skipping this functions makes instrumenting on the shared object wor

[2021-09-20 12:55] yavtuk commented on #211
Hi @mgrice, could you tell what did you try to process by bolt? when I faced the same issue the cause was in build environment and lsda field was incorrect in original binary. I used llvm-dwarfdump with -eh-frame option to get FDEs information and checked the address in Augmentation field with "L" value of CIEs

[2021-09-20 19:47] rafaelauler commented on #137
Sounds good, then I'll close this one and leave 175 open. Thanks folks!

[2021-09-20 19:47] #137 closed

[2021-09-21 19:26] mgrice commented on #211
Thanks for the info.  It's a binary compiled with gcc 7.3.  What was the cause of the incorrect LSDA fields in your case?

[2021-09-21 20:06] yavtuk commented on #211
Yes, I had the binary compiled 7.3 as well, but I don’t know a cause because I asked to product team check and rebuild the one, after that the issue is gone.

[2021-09-22 22:47] kmod commented on #187
Hey sorry, it's been so long since I ran into it I don't remember the error message I got

[2021-09-23 19:20] yota9 commented on #177
@Pierre-vh The relocations are supported now (if it is still actual :))

[2021-09-25 18:08] lnicola opened #214 "`Dockerfile` is gone"
It's still available on the `master` branch at https://github.com/facebookincubator/BOLT/blob/master/utils/docker/Dockerfile, but not on `main`.

[2021-09-25 18:14] lnicola opened #215 "Doesn't seem to build"
With the build instructions from the README, I get:

[code]

[2021-09-26 06:14] lnicola opened #217 "Instrumentation crashes on Rust code"
- on `rust-analyzer` I got

[code]

 - on an empty Rust program (no code in `main`), it crashes in a different way:

[code]

[2021-09-26 07:01] thedrow opened #218 "Has someone tried BOLTing CPython?"
I'm interested to know if there's a way to speed up Python that way.
Has anyone tried?

[2021-09-27 18:04] rafaelauler commented on #214
We changed a few things because the main branch reflects our proposal to merge with the llvm monorepo.

We do have a similar Dockerfile here, though: https://github.com/facebookincubator/BOLT/blob/main/.github/workflows/Dockerfile

This one is used to trigger a test of BOLT for github PRs.

[2021-09-27 18:06] rafaelauler commented on #215
Does it work if you change -DLLVM_ENABLE_PROJECTS to "lld;clang;bolt"?

[2021-09-27 18:32] #215 closed

[2021-09-27 18:44] kmod commented on #187
Ok sorry for the delay, I reproduced the issue using a more-recent version of bolt and yes I get that error

[2021-09-28 19:53] aaupov commented on #218
You can check Pyston which enables BOLT optimizations: https://github.com/pyston/pyston
cc @kmod

[2021-09-28 20:16] kmod commented on #218
Yep, it's quite effective!

[2021-09-29 13:25] #218 closed

[2021-09-30 02:52] aaupov commented on #132
Done with this commit: 0958ff46569f4a29a77fad4972a871f15640ac49.
Excluding unsupported OSes is TBD

[2021-09-30 02:52] #132 closed

[2021-10-01 05:52] h-vetinari commented on #188
Have you raised an issue upstream for this?

[2021-10-01 18:19] rafaelauler commented on #188
Hi @h-vetinari, thanks for asking, let me write the resolution for this investigation and then I'll close this.

I opened this investigation because we had 3 memory regressions at the same time, and this was one of them. Regression 1 came from a problem in our test builds that accidentally started building large executables with -O0, generating binaries with way more functions. Our monitoring syst

[2021-10-01 18:19] #188 closed

[2021-10-05 09:30] h-vetinari commented on #183
As of right now, I see LLVM main has ~400'800 commits and BOLT main has ~401'550 (after what looks like a rebase). Is upstreaming those 750 commits panned for the initial working LLVM implementation, or roughly how much of that is still necessary?

Without pressure (but curiosity), do you consider integration a realistic goal for LLVM 14 (branching probably end of Jan' 22)?

[2021-10-05 18:37] maksfb commented on #183
After the most recent rebase, the majority of the extra commits should be local to `/bolt` directory. For us it makes sense to upstream those changes as a single component without individual commit review, similar to how flang front end was added.

Inclusion in LLVM 14 is the goal.

[2021-10-05 23:00] h-vetinari commented on #183
I would double- & triple-check the details of this approach with upstream, to see that there's no misunderstanding, resp. what conditions need to be satisfied for such a code drop. I mention this because there were some pretty large and long-winded gymnastics involved to land the initial flang contribution while maintaining a curated history.

That's great news!

[2021-10-06 00:03] rafaelauler commented on #183
Starting in our last rebase from Oct 1st (made public today), 100% of our commits should be local to /bolt and do not interfere with the rest of LLVM. Everything that concerns other LLVM components has been reviewed by the community and has landed in the llvm monorepo, and we work to address any changes that concerns the bolt/ folder itself in this github (using github's issue tracker), since it i

[2021-10-06 07:00] SaveTheRbtz opened #223 "populateJumpTables(): Assertion `0 && "unclaimed PC-relative relocations left in data\n"' failed."
I'm using a following command:
[code]
([both profile and binary can be found here ~1.8Gb](https://www.dropbox.com/sh/yjqwispis16fi51/AABFiYp4xc6ZvuPReJjvS9iva?dl=0))

Traceback:
[code]

`plot_chia` is a PGO/LTO binary build with clang with following notable build/link flags
[code]

[2021-10-07 01:26] h-vetinari commented on #183
It's prehaps a good idea to have a look through the mailing list how much work went into that merge (e.g. [1](https://lists.llvm.org/pipermail/llvm-dev/2020-February/139378.html) ff., [2](https://lists.llvm.org/pipermail/llvm-dev/2020-March/139943.html) ff., [3](https://lists.llvm.org/pipermail/llvm-dev/2020-March/140180.html)).

That's what I meant above with "double- & triple-check the details o

[2021-10-10 08:48] ElvinaYakubova opened #224 "Lit test failed for AArch64"
I found that after this [commit](https://github.com/facebookincubator/BOLT/commit/b1061b602243284c25f476723c7998e000d01cf7) tests in X86 folder fail when I run them on AArch64 machine. I have two options how to fix this: the first one is to add lit.local.cfg to X86 folder and ignore them on Aarch64 platform, and the second one is to add -target option, but in this case you also need to install lib

[2021-10-16 00:13] maksfb opened #227 "BOLT Upcoming Refactoring"
I am opening this issue to give a heads-up for all BOLT developers of the upcoming refactoring work we will be pushing in the next couple of weeks. We will break BOLT into multiple components (CORE, IR, Debug, etc.) that will affect the directory structure and will allow using shared-library build mode. The concrete names and the directory structure are not finalized yet. All suggestions are welco

[2021-10-16 20:17] yota9 commented on #206
@Haishan312 Hello. Could you please check the issue on the latest bolt? I believe it would be fixed. Thank you!

[2021-10-16 20:19] yota9 commented on #104
@OpenStacksh I believe the problem is solved and I will close the issue now. If you will have similar problem please open new issue

[2021-10-16 20:19] #104 closed

[2021-10-16 20:30] yota9 commented on #227
Hello @maksfb ! Thank you for your post! I'm currently preparing to open source golang support, I believe it will be soon, so I hope we will be able to do it before global bolt refactoring :) I will give more details about it in about a week or near that here, I will need to prepare a few more places, that time there are already few patches prepared and pull requests are opened, I hope we will be

[2021-10-18 07:04] Haishan312 opened #236 "[bug]Dwarf Error: Cannot handle DW_FORM_indirect in updating debug_abbrev"
Hi,

   when using `--update-debug-sections` options, llvm-bolt prints a lot of BOLT-ERROR/BOLT-WARNING,
such as:
`BOLT-WARNING: empty location list detected at 0xf595166 for DIE at 0x18e9511e in CU at 0x18e849dc
`
`BOLT-ERROR: cannot update ranges for DIE at offset 0x18e96584`

BOLT-WARNING:
[code]

BOLT-ERROR due to dwarf information
`0x18e96584:     DW_TAG_lexical_block`
without DW_AT_low_pc an

[2021-10-19 11:46] yota9 commented on #206
Hello @Haishan312 . The fix was merge, I think now it should be OK :)

[2021-10-19 12:06] Haishan312 commented on #206
@yota9  it works, but in emit instruction stage, I still get a core, Maybe add a mov instruction for a big immediate into register,  it will be fixed absolutely.  because the immediate is bigger than int<28>.

[2021-10-20 09:58] SaveTheRbtz commented on #223
As a workaround, assembling BOLT without assertions works: ```-DLLVM_ENABLE_ASSERTIONS=OFF```

[2021-10-20 09:58] #223 closed

[2021-10-20 22:22] maksfb commented on #223
The workaround could cause runtime failures for the app and is not recommended. The issue is likely in one of the statically linked standard libraries. I haven't narrowed it down to any particular function yet.

[2021-10-21 00:40] SaveTheRbtz commented on #223
Yep, the only way how I was able to make this work was to switch from static to dynamic compilation, otherwise processed binaries either crash with "illegal instruction" or segfault in pthread or jemalloc.

As you've mentioned, dynamic compilation works beautifully.

[2021-10-21 11:39] yota9 commented on #206
@Haishan312

So does it work now? :)

[2021-10-24 23:58] maksfb commented on #236
Are you using split DWARF for the binary? Can you repro using a smaller binary that you can share?

[2021-10-25 03:23] getianao opened #242 "[Question] How can l remove useless segments?"
Hi,
According to #93 , `.bolt.org.text` can be useless If the binary links with `--emit-relocs` and not specify `-lite`.

But I try to remove`.bolt.org.text` segment of my program which only contains a simple loop using  `objcopy`, and the stripped program can't work. It prints `Inconsistency detected by ld.so: rtld.c: 1494: dl_main: Assertion 'GL(dl_rtld_map).l_libname' failed!`  How can I fix it

[2021-10-27 19:14] nadavrot opened #245 "BOLT is crashing when optimizing python"
root@4a75b2eea103:/workspace/scripts# /usr/local/bin/llvm-bolt -instrument /workspace/python386-base/bin/python3.8 -o p3
BOLT-INFO: shared object or position-independent executable detected
BOLT-INFO: Target architecture: x86_64
BOLT-INFO: BOLT version: 87e45c91d3dd440021177bc9d37f449db57ecd2d
BOLT-INFO: first alloc address is 0x0
BOLT-INFO: creating new program header table at address 0x400000, o

[2021-10-27 19:48] scottconstable opened #246 "Support for Symbolizing Thread-Local Data in .tbss?"
I'm trying to write a pass that inserts some instrumentation code, and which will store statistics in TLS (for example, .tbss). But I cannot figure out how to find `MCSymbol`s for thread-local data. When I write:
[code]
I see all of the symbols in .data and .bss, but I can't see any data that a given binary exposes in .tbss. I also do not see any members or methods on `BinaryContext` that referenc

[2021-10-29 06:51] #242 closed, assigned to nobody

[2021-10-29 18:50] maksfb commented on #242
For optimizing in-house applications, it does make sense to support the relocation mode only. However, there are other applications, beyond optimizations that make the non-relocation mode useful. E.g. being able to look at CFGs of functions in arbitrary binaries. I imagine there will be more applications for this mode as BOLT framework for binary analysis grows.

[2021-10-31 09:23] getianao commented on #242
@maksfb Hi,  about the issue with `objcopy` mentioned at the beginning, I tried to enable `use-gnu-stack` option and then the stripped program works well.

So creating PHDR table in a segment may be the reason why `objcopy` can't work with the generated binary, is it right? And what are the downsides if I enable `use-gnu-stack` option.

[2021-10-31 12:57] getianao commented on #242
@maksfb And another question is about identical code folding: If I enable `-use-old-text` option and successfully place the new code in the original `.text`, although some identical fucntions have been folded, the size of original `.text` segment doesn' change, so it doesn't affect binary size much and there may be a small size reduction due to the reduction of symbols and strings. If my understan

[2021-11-01 20:41] scottconstable commented on #246
Thanks @yota9. I am now able to get the TLS offset in my pass by doing the following:
[code]
I then use LLVM's existing MC infrastructure to build instructions with TLS-relative memory operands.

I have one more question. Sometimes the `__basic_blocks` symbol is imported by BOLT (or maybe by LLVM) with a numeric suffix, for example `__basic_blocks/1`. I can't figure out why this happens on some bi

[2021-11-02 00:54] maksfb commented on #246
`/<N>` is appended to all local symbol names to differentiate between multiple local symbols with the same name. Check the attributes of the symbol the compiler/linker is generating.

[2021-11-02 12:34] getianao opened #247 "[Question] Section alignment less than 0x1000 cause program crashed"
Hi,
I try to modify the alignment of the available address for new allocatable sections. An alignment less than 0x1000 will cause the program crash. Is it possible to set `BC->PageAlign` to a value less than 0x1000?  Thanks a lot :)
https://github.com/facebookincubator/BOLT/blob/61a2062542cd7f015cde0e0ff06abe305993943d/bolt/lib/Rewrite/RewriteInstance.cpp#L503

[2021-11-02 20:02] maksfb opened #248 "Preparation for LLVM monorepo"
List of issues to close before the integration:
- [x] Convert GH issue format in commit messages.
- [x] Remove references to internal tasks.
- [x] Add CODE_OWNERS.txt
- [x] Resolve Windows build issues to make BOLT working on the platform.
- [x] Move and update README.md for BOLT.

[2021-11-03 01:03] yavtuk commented on #247
Hi @getianao, for x86 minimum page size is 4K, it's not possible to use less

[2021-11-03 01:34] h-vetinari commented on #183
Great to see the mailing list [post](https://lists.llvm.org/pipermail/llvm-dev/2021-November/153551.html) about the integration plan! I guess this can be closed in favour of #248?

[2021-11-03 01:35] #183 closed

[2021-11-03 07:46] getianao commented on #247
Thanks for your reply. Seems a LOAD segment with an alignment less than 4K will make program crash. I modify the Phdr table and avoid adding new allocatable sections at the end of program, then the program works well.

Now I'm curious why not BOLT choosing to place sections at the end of the binary, rather than the original place and modify the offsets of other sections. Because the former will le

[2021-11-03 08:14] yavtuk commented on #247
@getianao one of the reason is described as comment
https://github.com/facebookincubator/BOLT/blob/main/bolt/lib/Rewrite/RewriteInstance.cpp#L506

[2021-11-03 21:13] maksfb commented on #183
@h-vetinari, thank you for raising the concerns about the integration!

[2021-11-04 03:47] Sambhrama754 opened #249 "Is .Deb files supported"
??
Tq

[2021-11-04 07:53] Sambhrama754 commented on #249
@drodriguez help
Can we out put binaries as .Deb files

[2021-11-04 11:36] yavtuk commented on #247
@getianao what sections are you talking about?

[2021-11-04 11:45] getianao commented on #247
@yavtuk  I notice `.eh_frame_hdr` and `.eh_frame` sections are added at the end. Also I also want to know why not changing the offset when new `.text` section larger than the old  `.text` section.

[2021-11-04 14:18] yavtuk commented on #247
.cfi_startproc is used at the beginning of each function that should have an entry in .eh_frame. As we move new “.text” section to new segment due to larger size we also couldn’t use the old sections eh_frame & eh_frane_hdr and we should create new one with new size.

[2021-11-04 19:02] maksfb commented on #242
Yes, binutils `objcopy` cannot deal with a program header table in the new segment. `-use-gnu-stack` option reuses another entry (GNU_STACK) in the table for the new segment.

[2021-11-05 02:28] getianao commented on #247
Thanks, it makes sense though.

[2021-11-10 01:09] yavtuk commented on #217
Hi @lnicola can you share the instrumentation options? I used the latest  version (BOLT version: d6bb83533eb2a147b407d7afe96114a7c959ad6f) and the instrumentation works for the simple hello world application.

[2021-11-14 09:49] lnicola commented on #217
No options:

    ~/build/bin/llvm-bolt target/release/hello -instrument -o hello.intrumented

Tested at 0ae4e2d854c6d2435088cef682e967c59b15f628.

[2021-11-15 21:04] lnicola commented on #217
Still crashes for me:

[code]

I've attached the executable I'm testing with.

[hello.zip](https://github.com/facebookincubator/BOLT/files/7541639/hello.zip)

[2021-11-16 03:57] yavtuk commented on #217
Hi @lnicola, let’s go step by step try to synchronize our actions.

**My environment:**

uname -a
Linux astlxd604b01 5.10.0-1013-oem #14-Ubuntu SMP Mon Feb 1 10:59:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

rustc --version
rustc 1.53.0

cat hello.rs
fn main() {
    println!("Hello World!");
}

rustc  hello.rs -v  -C link-args=-Wl,-q

**BOLT build process:**
cd ${BOLT_DIR_PATH}
mkdir build
cd buil

[2021-11-16 07:26] lnicola commented on #217
Hmm, so the kernel and `rustc` version shouldn't matter, since you're testing with my binary, but I'm on 5.15.2 with `rustc 1.57.0-beta.2` and I'm using `cargo`, not `rustc` to compile the test file.

I built BOLT using:

[code]

The big difference seems to be the LLVM assertions options, but it seems unlikely that disabling them would prevent a crash. I also tested that `-instrumentation-file=hel

[2021-11-16 08:39] yavtuk commented on #217
it's strange that your BOLT revision is 905321291962bb06aae54ab300f48ce506b62bef, I could not find the one

[2021-11-16 08:45] lnicola commented on #217
Oh, sorry, that was one documentation commit of mine applied on top of 0ae4e2d854c6d2435088cef682e967c59b15f628. I fetched the latest code, but didn't check out the branch.

[2021-11-16 08:52] yavtuk commented on #217
Are local tests passed successful?
ninja check-bolt -j 8

[2021-11-16 08:58] lnicola commented on #217
Still fails on a 05535cefaa6f57f2fb6f6b732dbb8208f6a7b6bb. I also tried `make check-bolt`:

[code]

[2021-11-16 09:08] yavtuk commented on #217
Do you run instrumentation from command line directly or you use *.sh script? myabe it sounds like a magic but I faced with the same issue somehow before when I used Debug build and bash. I couldn't reproduce it using release build.

[2021-11-16 09:09] lnicola commented on #217
From the command line, but if the unit tests fail, there might be a problem on my system.

[2021-11-16 09:14] yavtuk commented on #217
can you check that bolt/CMakeLists.txt contains Release value as well?

-DCMAKE_BUILD_TYPE=Release

[2021-11-16 09:16] lnicola commented on #217
It does. I also used `Release` when building it.

[2021-11-16 09:20] yota9 commented on #217
@lnicola Could you try to use "--conservative-instrumentation" flag?

[2021-11-16 09:21] lnicola commented on #217
Still crashes:

[code]

[2021-11-16 09:32] yota9 commented on #217
@lnicola I had a crash like this one time. But I don't remember what was the problem exactly. Probably I've forgot to add the symbol to the instrumentation library or something like this.
There is lookup function in RewriteInstance with the code:
[code]
Could you please remove LLVM_DEBUG so we could see the symbol name it is crashing on?

[2021-11-16 09:35] lnicola commented on #217
[code]

[2021-11-16 09:41] yota9 commented on #217
@lnicola Could you please try to add `-fno-stack-protector` flag to the bolt/runtime/CMakeLists.txt in `target_compile_options(bolt_rt_instr` ?

[2021-11-16 10:00] lnicola commented on #217
That worked, thanks!

[2021-11-16 10:01] yota9 commented on #217
@lnicola Great, I will prepare the patch

[2021-11-16 10:04] yota9 commented on #217
That time I would like to point out for the FB team @maksfb @rafaelauler about such problem in `llvm::RuntimeDyld::getSymbol`. I don't think it is expected behavior to  segfault in case we don't find the symbol. I didn't investigate this problem yet, but maybe you already know where the problem might occur :)

[2021-11-17 00:54] rafaelauler commented on #217
Thanks for pointing that out, @yota9. I was doing something silly. I will put up the fix soon.

Originally, we would try to use LLVM's linker again to resolve a missing symbol (it was a circular dependency,  the linker failed to locate something, it called our callback to resolve it, and we would call the linker again asking it to look it up in its loaded objects, one of which was the bolt-produce

[2021-11-17 22:34] aaupov commented on #249
What exactly do you mean by deb binaries? Generally BOLT would support binaries compiled on Debian using the workflow outlined in the wiki. Speaking of binaries shipped in .deb packages, I expect a number of issues optimizing them:
1. They're compiled with GCC with function splitting by default (-freorder-blocks-and-partition), which is discouraged.
2. They are stripped of symbol table preventing

[2021-11-21 04:36] Sambhrama754 commented on #249
@aaupov oh I think we can patch it

[2021-11-22 05:19] Sambhrama754 opened #254 "[IDEA] optimizing code"
I have an idea 😃:
Can we just seprate the part which rearranges the code into a separate repo and make it output the optimized code

[2021-11-23 20:31] rafaelauler commented on #254
Hi @Sambhrama754, can you give more context on your idea? Do you mean putting the basic block reordering algorithm in a separate repo?

In general, we are moving in the direction of putting everything in the same repo (BOLT and LLVM).

[2021-11-24 02:23] aaupov opened #256 "runtime/X86/retpoline-synthetic.test: broken with llvm-lit -vv"
`llvm-lit -vv tools/bolt/test/runtime/X86/retpoline-synthetic.test` fails due to an extraneous printing which breaks test's checks.

Restructure the test that it doesn't choke on echoed commands.

Repro:
[code]

[2021-11-24 15:12] yavtuk opened #257 "[Question] Optimization passes during an instrumentation processing"
Hi,
Is there an issue to perform optimization passes during an instrumentation processing?
A profile should be more precise to original binary if we do not perform all optimization passes during instrumentation processing.
The processing time also will be reduced by applying only the necessary and sufficient set of the passes.

Thanks in advance,
Alexey

[2021-11-25 02:28] rafaelauler commented on #257
Do you mean running optimization passes when instrumenting a binary?  aka running llvm-bolt -instrument -reorder-blocks <etc> ?

I typically don't do that. I will only run the instrumentation pass, alone. Typically you need the profile anyway for BOLT to do anything useful, and if you are instrumenting, you don't have the profile yet.

Now suppose you do have some version of a profile when instrum

[2021-11-25 02:34] aaupov commented on #256
461e722

[2021-11-25 02:34] #256 closed

[2021-11-25 04:32] yavtuk commented on #257
Hi @rafaelauler , thanks for the answer, but my point is about the number of optimization passes during instrumentation processing. I mean when I would like to build an instrumentation binary to get profile, for example,
./llvm-bolt ./main -o ./main.instr -instrument  [options]
I see that the following passes are performed:

 BOLT-INFO: Starting pass: instrumentation
 BOLT-INFO: Starting  pass: pr

[2021-11-25 04:35] rafaelauler commented on #257
I don't think most of these passes are really running. For example, I know that frame-optimizer, reorder blocks, etc, for sure are not running. They might be getting scheduled by binary pass manager, but the pass is probably just checking whether to run or not and then does not.

[2021-11-25 04:50] yavtuk commented on #257
There is the -conservative-instrumentation option and it may be worthwhile to eliminate all unnecessary optimization techniques if this option is used.

[2021-11-26 15:55] Sambhrama754 commented on #254
Yee I mean it

[2021-11-27 11:42] Sambhrama754 commented on #254
And making the algo out put the optimized code

[2021-11-27 11:42] Sambhrama754 commented on #254
Btw tysm for the bolt
I am using it for my own linux distro

[2021-11-27 11:43] Sambhrama754 commented on #254
And yeah I have one more doubt that how I am supposed to BOLT .Deb files??

[2021-11-29 20:21] rafaelauler commented on #257
I took a closer look at this to investigate why we are printing all these passes when running with no flags, and it is true, these passes are indeed being started.

However, most of the passes in this list that are starting are doing so because of a pattern that we use when the pass has multiple operating modes. For example, in frame optimizer, we have -frame-opt-none (default, disabled), -frame-o

[2021-11-29 20:34] rafaelauler commented on #254
So the point is to make it independent from LLVM? Well, we need LLVM to disassemble the binary. Then we do our own processing, and finally we rely on LLVM again to emit the code (write it in almost final form) and then link the final code (resolve addresses). This was done to avoid rewriting code that is already available in the LLVM repo. Because the project was created as an extension to existin

[2021-11-30 03:50] Sambhrama754 commented on #254
Oh nice 😊 tysm

[2021-11-30 03:50] #254 closed

[2021-11-30 03:52] #249 closed

[2021-11-30 03:59] yavtuk commented on #257
Hello @rafaelauler, thanks for the details.

You are rigtht, it doesn't make sence to exclude the passes,
as example in our case this statistic is as follows (1.3GB binary file, AArch64, Golang):

(some metrics were dropped for passes which are not really running)
===-------------------------------------------------------------------------===
                          Binary Function Pass Manager

[2021-11-30 04:10] #257 closed

[2021-11-30 04:15] #247 closed

[2021-11-30 21:59] rafaelauler commented on #257
Thanks for sharing, Alexey. Looks like long-jmp is a big problem for these larger aarch64 binaries. How large is the text size?

[2021-12-01 01:28] yavtuk commented on #257
the text size is ~128MB

[2021-12-01 01:56] rafaelauler commented on #257
We can implement other algorithms for long-jmp which generate worse code layout, but which will run faster. Currently long-jmp will try to automatically generate code with the least amount of stubs and that can be quite expensive (and re-iterate a few times). If you are interested in reducing that time, I would start by measuring how many times the pass is re-starting to recompute stuff (how many

[2021-12-01 02:41] yavtuk commented on #257
Yes, It's worst to add one more way to insert the stubs.
Here is the statistic for the pass and the number of iterations seems not very large.

BOLT-INFO: Inserted 785940 stubs in the hot area and 0 stubs in the cold area. Shared 3188 times, iterated 4 times.

it's strange that we don't have the stubs in cold area, I need time to figure out why this happened, probably, we should tune the hot code

[2021-12-02 22:57] aaupov opened #260 "BOLT crash in meta-merge-fdata.test"
BOLT is crashing in the open-source testing: https://github.com/facebookincubator/BOLT/runs/4391355414?check_suite_focus=true#step:3:4050

[code]

The issue is with split functions in the input binary.
Might be related to the issue #245

[2021-12-04 16:48] yota9 opened #261 "Remove BB with repetitions in successor"
Hello! I've found the simple example which currently breaks BOLT:
[code]
Since the 1 BB is unreachable it will be removed, but it has repeated successor the 2nd BB. When we call `removeAllSuccessors` it will call `removePredecessor` in loop and remove both of the 1st block predecessors for 2nd BB on the first iteration. On the second iteration it will try to remove the same predecessor and fail. T

[2021-12-04 20:34] aaupov commented on #261
Hi Vladislav!
Thanks for reporting this issue with a minimal test case. I've earlier attempted to fix it with https://github.com/facebookincubator/BOLT/pull/201, but there has been an internal test crash (with clang binary). I'll take another look next week; chances are that this binary will be added to rafaelauler/bolt-tests repo.

[2021-12-04 20:41] maksfb commented on #261
Hi @yota9, I have added a pass that normalizes CFG by removing duplicate edges and empty blocks. I added it for #231, but it also takes care of this issue.

[2021-12-04 20:54] yota9 commented on #261
Hello @aaupov  @maksfb ! Thank you for your answers, if this problem is known I won't fix it :) But anyway is the "multiple" argument in these functions are needed? It confuses me a bit, since I don't see the case when we don't want to remove all of the repeated entries..

[2021-12-06 22:22] aaupov opened #262 "BOLT-ERROR: 'section size mismatch for DT_RELASZ': Exec format error"
Ubuntu 20.04
gcc 9.3.0
[code]

[2021-12-08 08:52] #185 closed

[2021-12-08 10:48] yota9 commented on #261
@maksfb Despite of the question above thanks to the new pass I think the issue might be closed. If you'd like I can create PR with the test above.

[2021-12-09 09:17] lnicola commented on #217
Fixed in https://github.com/facebookincubator/BOLT/issues/217#issuecomment-970089077

[2021-12-09 09:17] #217 closed

[2021-12-09 09:55] maksfb commented on #261
@yota9, I think you raise a valid concern. Even thought the crash might be gone, we need to address the root cause.

[2021-12-13 12:29] valuenumbering opened #263 "perf2bolt Assertion when bolt MySQL"
I tried bolt to optimize mysql, using GCC 10.2.1 and adding -Wl, -q on Intel platform. But perf2bolt asserted!
Perf version: 4.14.105-1

1) $ perf record -e cycles:u -j any,u
2) $ perf2bolt -p /data/perf_data/perf.data -o perf.fdata  mysqld
BOLT-INFO: enabling relocation mode
PERF2BOLT: read 6670837 samples and 207213185 LBR entries
PERF2BOLT: 0 samples (0.0%) were ignored
PERF2BOLT: traces mismat

[2021-12-14 13:18] Haishan312 commented on #29
@rafaelauler I  got the same error with perf-5.10. and using record command is `perf record -e cycles:u -j any,u -a -- /usr/bin/ls -l`.
I find the parseString which cannot handle the format `"c1d2c0bead01849e", ' ' <repeats 25 times>, "/usr/bin/ls\n"`
[code]

[2021-12-15 09:33] fantblue opened #264 "perf2bolt is crashing when optimizing mysql 5.7"
I was trying to optimize mysql 5.7 with BOLT. But it's crashing.
[code]
I found similar problem in #263, it suggest to enable gcc flag `-fno-reorder-blocks-and-partition`.

But it didn't make sense in this issue. Can anyone help to fix this issue?

By the way, I had enable PGO & LTO before trying to bolt the binary.

[2021-12-15 12:48] valuenumbering commented on #263
Hi @aaupov,
It is OK with -fno-reorder-blocks-and-partition. Thanks a ton!!

[2021-12-16 03:32] aaupov commented on #264
It's almost certainly the same underlying problem of GCC split functions/split jump tables.
Passing `-fno-reorder-blocks-and-partition` to the compiler should solve the issue. Make sure that the option propagates to the LTO step as well.

For cases where split functions are coming from statically linked system libraries that can't be easily rebuilt with `-fno-reorder-blocks-and-partition`, we've a

[2021-12-16 03:32] aaupov commented on #263
Great!
I've left the comment in #264. Closing this one.

[2021-12-16 03:32] #263 closed

[2021-12-17 07:51] valuenumbering commented on #264
Hi @aaupov , it is ok with the latest version! Thanks!

[2021-12-17 09:51] fantblue commented on #264
Hi @aaupov! Thanks for your answer. `-fno-reorder-blocks-and-partition` and update BOLT to latest version solve the problem.

Here is another BOLT error I came across when I use bolt to optimize libmysqlclient.so. Is it a known problem or can you help to fix it? Thanks!

gcc 10.2.0
[code]

[2021-12-17 18:07] aaupov commented on #264
Great that the original issue is fixed.
The new one with libmysqlclient.so is not something we've run into before. It's also related to fragments according to the assertion. Can you please share the repro steps to build libmysqlclient.so? (OS, compiler version, mysql commit hash)

[2021-12-20 22:47] aaupov commented on #260
Fixed by bb156d9abbf21a0c7d94ae9a402dc05a4bbff2f7

[2021-12-20 22:47] #260 closed

[2021-12-21 00:46] aaupov commented on #248
Feedback from [Phoebe Wang](https://lists.llvm.org/pipermail/llvm-dev/2021-December/154420.html):
- [ ] Use the monorepo of LLVM in the example (Optimizing Clang)
- [ ] "not implemented"
- [ ] inconsistent braces
- [ ] Some files don’t have a descriptions in the first line
- [ ] format should be consistent for file descriptions

[2021-12-21 01:41] MaskRay opened #270 "Change -fuse-ld=ld.lld to -fuse-ld=lld"
`-fuse-ld=lld` (`-fuse-ld=word`) is a more supported way to specify ld.lld. Clang reserves the right to do linker option dispatch on `-fuse-ld=lld` in the future.

(Note: `-fuse-ld=relative/path` and `-fuse-ld=/absolute/path` are deprecated. If you want to use ld.lld but with a different path, specify  `-fuse-ld=lld --ld-path=/absolute/path`: bazelbuild/bazel#13252 )

(Note: don't test exact addre

[2021-12-21 15:05] rafaelauler commented on #270
I agree testing against exact addresses is a bad idea and I'll change tests that rely on that.

I changed our -fuse-ld=ld.lld invocations but I'm getting:
lld is a generic driver.
Invoke ld.lld (Unix), ld64.lld (macOS), lld-link (Windows), wasm-ld (WebAssembly) instead
clang-14: error: linker command failed with exit code 1 (use -v to see invocation)

[2021-12-21 15:05] rafaelauler commented on #270
Oh, LIT is replacing my lld string with a full path.

[2021-12-22 07:27] fantblue commented on #264
@aaupov , here is my environment

mysql version:  8.0.22.
OS : CentOS 7 derivatives
kernel: 4.14.105
compiler: gcc 10.2.0

I build it with default configuration. except append `-fno-reorder-blocks-and-partition` to linker flags.

[2021-12-23 18:08] maksfb opened #271 "ADRRelaxationPass.* use old LLVM license"
@yota9, are you okay with converting the files to the new Apache v2.0 with LLVM exceptions? I assume you've used the old license unintentionally.

[2021-12-23 18:45] yota9 commented on #271
Hello @maksfb . Sure, will you handle it by your self or I should make the PR?

[2021-12-23 18:46] maksfb commented on #271
Awesome. I'll make the change.

[2021-12-23 18:46] #271 closed

[2021-12-24 03:14] #3 closed

[2021-12-30 07:15] aaupov commented on #270
Done: 7a1af48d2f032dbd4a7dbd939954c61b28aa0837

[2021-12-30 07:15] #270 closed

[2021-12-30 07:24] aaupov commented on #147
Doxygen target added with ef56923d3107e9d23a8419b51de8364228d2483f

[2021-12-30 07:24] #147 closed

[2021-12-30 07:25] aaupov commented on #142
Fixed with 43d78552e6a92042fc81416c5948f0b5b4fa8596

[2021-12-30 07:25] #142 closed

[2021-12-30 07:33] aaupov commented on #106
Split DWARF support has been added this year. Please check the recent BOLT version.

[2021-12-30 07:33] #106 closed

[2021-12-30 07:35] aaupov commented on #80
Hi @Lorac! We've rebased BOLT and now following LLVM's main branch, so I'm closing this issue as resolved.

[2021-12-30 07:35] #80 closed

[2021-12-31 08:51] aaupov commented on #187
Should be resolved with 7d47004d228ab5d72b6e49000824a07415d4a10f

[2021-12-31 08:51] #187 closed

[2021-12-31 10:20] #177 closed

[2022-01-04 02:44] dafoerx opened #273 "Coredump while call perf2bolt in arm 4.14"
uname -a
4.14.0-115.el7a.0.1.aarch64 #1 SMP Sun Nov 25 20:54:21 UTC 2018 aarch64 aarch64 aarch64 GNU/Linux

I am optimizing bin/postgres in the reference documentation, and core appears in the phase of converting perf.data in the ARM environment. Can anyone help

ref:
https://github.com/facebookincubator/BOLT

[root@01 bolt]# perf2bolt -p perf.data -o perf.fdata postgres -nl
PERF2BOLT: Starting da

[2022-01-05 09:07] LiHao217 commented on #128
@ijinma Hi，what are your test results now? Is there any performance improvement。

[2022-01-05 20:14] maksfb commented on #273
@yota9, any idea what is happening there?

[2022-01-05 20:28] yota9 commented on #273
Hello @dafoerx. Could you please attach the binary and perf file so I will be able to check the binary? Thank you.

[2022-01-06 02:59] dafoerx commented on #273
Sorry, the core file is too big to upload temporarily, I can provide some more detailed location information for the time being.

1>os version
uname -r
4.14.0-115.el7a.0.1.aarch64
cat /etc/redhat-release
CentOS Linux release 7.6.1810 (AltArch)
2>bolt code version
git clone https://github.com/facebookincubator/BOLT.git
git log
fe64c4001e17a994c178d1102d7cb12eee196a1c
3>Repetition steps
perf record

[2022-01-06 03:18] dafoerx commented on #273
Maybe I'm similar to this issue
Failed to match indirect branch when BOLT AArch64 binary #111
https://github.com/facebookincubator/BOLT/issues/111

[2022-01-06 10:32] yota9 commented on #273
Sorry, I don't need the core file, I need the executable at least (better with the perf file) to reproduce the problem and check its asm and to find the failure reason

[2022-01-09 00:21] aaupov commented on #261
The root cause is addressed by 7d47004d228ab5d72b6e49000824a07415d4a10f

[2022-01-09 00:21] #261 closed

[2022-01-09 01:08] aaupov commented on #261
Regarding your question whether removing just the first occurrence of a possibly repeated block makes sense: I've looked at the places where `removeSuccessor`/`replaceSuccessor` are invoked, and some of them (e.g. in fixTailCalls) appear to operate on a single control flow edge at a time. So I think we should keep the `multiple` flag, at least until all the places that invoke `removeSuccessor`/`re

[2022-01-11 18:43] yota9 opened #274 "dwarf_child: DW_DLE_ABBREV_MISSING"
The update-debug-sections doesn't work after the "Rewrite of .debug_info section" patch.
Reproduce steps:
1. Get the test binary https://github.com/yota9/BOLT/blob/gcgort/bolt/gcgort
2. Run `llvm-bolt gcgort -o gcgort.bolt -update-debug-sections`
3. Run `dwarfdump -a gcgsort.bolt ` , skip the file to the end and check for the error

Error that was observed:
dwarfdump ERROR: dwarf_child: DW_DLE_ABB

[2022-01-11 19:06] ayermolo commented on #274
Can you update here with what error you are seeing?

[2022-01-12 01:44] yota9 commented on #183
Hello facebook team! I would like to congratulate you with the integration of BOLT project in to LLVM! This is extremely cool! Thank you for your for your hard work! :))

[2022-01-12 02:15] aaupov commented on #183
Hi Vladislav! Thank you for your contributions and congratulations on your work becoming a part of LLVM!

[2022-01-12 14:37] andreybokhanko commented on #183
Congratulations to the Facebook (err... I meant Meta :)) team for this amazing acheivement!

Hopefully, this will enable further adoption and development of BOLT!

Yours,
Andrey

[2022-01-14 05:41] #248 closed

[2022-01-17 17:17] JonasToth commented on #46
Its in llvm now

[2022-01-17 17:17] #46 closed

[2022-01-19 19:27] ayermolo commented on #274
@yota9 I tried it locally with TOT bolt, and I wasn't to repro the issue. dwarfdump finished without issues.

[2022-01-19 19:32] yota9 commented on #274
@ayermolo Very strange, I continue to get the error

[2022-01-19 19:33] ayermolo commented on #274
Is it with TOT dwarfdump and llvm-bolt?

[2022-01-19 19:37] yota9 commented on #274
The tot llvm-bolt and the dwardump --version tells `2020-01-14 10:13:32-08:00   Package Version "20200114"`.
The llvm-bwarfdump shows this errors:
[code]

I'm using aarch64 machine, but it should not be the case here

[2022-01-19 19:39] ayermolo commented on #274
ah cool I see the warning. Let me dig in today.

[2022-01-19 19:44] yota9 commented on #274
At some point everything seems to be messed (Name, Language, Producer), probably just become incoherent with other dwarf sections :
[code]

[2022-01-20 00:38] ayermolo commented on #274
OK, so here is what happened.
All of CUs share the same abbrev table. Except first CU only has DW_TAG_compile_unit and DW_TAG_subprogram. While second CU has all the other fun stuff.
Including
[code]
Which gets converted in to
[code]

When we write out .debug_abbrev we rely on abbr_offset. So we write out the unmodified one, and then ignore all other CUs and their abbrev modifications.

[2022-01-20 02:02] ayermolo commented on #274
@yota9 How did you create that test?
I tried to re-create something locally using c++/thinlto, but not able to. :/

[2022-01-20 10:57] yota9 commented on #274
@ayermolo I'm sorry, to be honest I didn't understand exactly what the problem was, I hope I will understand a bit more in code :)

This is the golang binary because :) I have no idea how force to generate such thing using C/C++ compiler. The test I've finally made on my DWARF patch review was the C hello world + I've hexedited the dwarf by my hands :)

[2022-01-20 15:21] yota9 commented on #274
Well, I'm absolutely not into the golang either :) But as for beginning you can get golang compiler and some of the test from test folder and make `go build file.go`. If you would like to use external linker you can do this `go build -a -ldflags='-linkmode=external -extld=clang -extldflags "-no-pie -Wl,--compress-debug-sections=none -Wl,--emit-relocs"' file.go` The golang produces dwarf by default

[2022-01-20 18:13] ayermolo commented on #274
Presumably not all tests exhibit this behavior. What were the flags to produce that particular binary? Was LTO used?

[2022-01-20 18:17] yota9 commented on #274
The command string above was used with for gcgort.go test with golang 1.16.5.

I suppose golang does not support LTO at all.

[2022-01-26 21:20] yota9 opened #275 "DWARF: Update debug sections fails on aarch64"
After the latest rebase two tests are failing:
[code]

BOLT output:
[code]

gdb:

[code]

Seems to be looped in patchBinary. @ayermolo Could you please check it?

[2022-01-26 21:25] ayermolo commented on #275
Clang recently switched DWARF5 by default. BOLT currently not supporting it. I am working on it, but other things keep coming up. You need to update your testing environment to force DWARF4.

[2022-01-26 21:28] yota9 commented on #275
Oh I forgot about it, I thought it was fixed globally :) Thanks!

[2022-01-26 21:28] #275 closed

[2022-01-26 21:32] aaupov commented on #275
Can you please apply -gdwarf-4 to cflags like here: https://reviews.llvm.org/D118080 and commit that?

[2022-01-26 21:38] yota9 commented on #275
@aaupov Yes, sure, I will make this. I was thinking to add it to global %cflags like you did, it seems to be more right way to do it, what do you think about it? I can replace it in 5 already commited tests too if you don't mind

[2022-01-26 21:41] aaupov commented on #275
I think it's the right way. I've abandoned my diff after David Blaikie pushed his fix (minutes before me), but since AArch64 tests also need fixing, let's make it right this time.

[2022-01-27 01:40] Haishan312 commented on #61
I get same an assert error, any help will be  pleasure

[2022-01-27 01:44] aaupov commented on #61
We've recently added cold fragment support that would skip cases that BOLT can't process. So it's likely a different issue. Can you please provide the full log?

[2022-01-27 01:57] Haishan312 commented on #61
My full log:
PERF2BOLT: Starting data aggregation job for perf.data
PERF2BOLT: spawning perf job to read branch events
PERF2BOLT: spawning perf job to read mem events
PERF2BOLT: spawning perf job to read process events
PERF2BOLT: spawning perf job to read task events
BOLT-INFO: Target architecture: x86_64
BOLT-INFO: BOLT version: 571d6a7120c2b637db2bb46fe3029f9d8576ab86
BOLT-INFO: first alloc addr

[2022-01-29 00:34] ayermolo commented on #274
https://reviews.llvm.org/D118517

[2022-01-31 00:56] unordered-set commented on #223
How nice for a guy from Yandex trying to optimize Solana and having the same issue, to find another Yandexoid having the same issue with Chia :)

[2022-01-31 19:12] ayermolo commented on #274
committed to upstream

[2022-01-31 19:12] #274 closed

[2022-01-31 19:13] yota9 commented on #274
Thanks @ayermolo ! I will check it soon too :)

[2022-02-03 21:30] ayermolo commented on #236
@Haishan312 can you try with latest from llvm upstream?

[2022-02-07 02:25] Haishan312 commented on #236
Latest code works ok

[2022-02-07 12:15] Haishan312 commented on #61
that's great,  the code is ready for upstream?

[2022-02-07 17:13] aaupov commented on #61
Hi @Haishan312, sorry for taking so long on this issue. It looks like a separate issue from cold fragment support, so it has not been fixed yet.

[2022-02-07 20:14] ayermolo commented on #236
ok, closing

[2022-02-07 20:14] #236 closed

[2022-02-09 19:27] alexmechanic opened #276 "Injected functions & AssignSections pass & PatchEntries pass"
Hello there, I've been working on original code (which goes to .bolt.org.text section) modifications, in particular - replacing local function calls made via PLT with direct calls, but it's not that matters.

In my case, I had to create 1-instruction injected BinaryFunctions  at the places I want to replace call target as far as we cannot modify original code functions body entirely. And I had to

[2022-02-09 20:17] rafaelauler commented on #276
Thanks for writing this, I appreciate your suggestions. I will take a look on how to translate this into better documentation for AssignSections and injected functions. By the way, we moved our repo to the upstream LLVM repo and this repo here is deprecated. We are tracking https://discourse.llvm.org/c/subprojects/bolt/68 for BOLT-related discussions. But I'm not sure if discourse is a good way to

[2022-02-10 01:05] maksfb commented on #276
@alexmechanic, you can file new issues at https://github.com/llvm/llvm-project using BOLT tag. Did you look at `PLTCall` pass? It sounds similar to what you are trying to accomplish. Modifications are required for AArch64, though.

[2022-02-10 01:41] Haishan312 commented on #52
I have the same problem  when using latest bolt. my program received signal SIGSEGV when throwing an exception. And I upgrade to binutils-2.32, it stills crash.
[code]
Compare original program with bolted program, encoding in original program is 1, but 131 in bolted program.
Moreover, many lsda information were deleted in .eh_fram section of bolted program.

Any help will pleasure.

[2022-02-10 06:51] alexmechanic commented on #276
@maksfb thanks for the tip about issuing new topics, it’s been a while since I forked this project to improve.
Yes, I took a look at the PLTCall pass, but I have a different goal. Pass replaces PLT calls with GOT calls, and I need to fix-replace _local_ calls made via PLT with direct calls.

[2022-02-10 20:13] wonjeon opened #277 "segmentation fault from perf during perf2bolt"
perf2bolt was executed in order to convert perf profile to bolt format, the following error occurred. (dylib) is a .so file which is dynamically loaded by the executable (exe file). The perf profile was collected with the script calling the executable.

$ perf2bolt -p perf.data -o perf.fdata (dylib)
BOLT-INFO: shared object or position-independent executable detected
PERF2BOLT: Starting data aggre

[2022-02-11 02:32] wonjeon commented on #277
Figured out the issue by executing 'perf' inside the script to get a correct profiling data. Closed the issue.

[2022-02-11 02:32] #277 closed

[2022-02-11 06:10] Haishan312 opened #278 "[eh_frame]received signal SIGSEGV when throwing an exception"
When using latest bolt, my program received signal SIGSEGV when throwing an exception. And I upgrade to binutils-2.32, it stills crash.

Here is backtrace:
[code]
Compare original program with bolted program, encoding in original program is 1, but 131 in bolted program.
Moreover, many lsda information were deleted in .eh_frame section of bolted program.

Any help will pleasure.

[2022-02-11 06:45] aaupov commented on #278
Hi @Haishan312,
Can you please add a BOLT log? What is the compiler the program has been compiled with? I remember seeing this function as split in gcc libstdc++.

[2022-02-11 08:13] Haishan312 commented on #278
my program was compiled with gcc-4.9.2. and here is bolt.log
[bolt.log](https://github.com/facebookincubator/BOLT/files/8047009/bolt.log)

[2022-02-11 18:21] wonjeon opened #279 "Binary optimization for dynamically loaded library from executable?"
Hello. I have a question for you.
Does BOLT work for an executable with dynamically loading library?
Is any special profiling technique needed for perf and BOLT?
Thanks in advance.

[2022-02-11 19:04] maksfb commented on #279
You have to separately optimize the executable and its dependencies, i.e. one at a time. The profile can be shared though. E.g.:
[code]

[2022-02-16 03:17] DreamTeamWangbowen commented on #164
is ok now？

[2022-02-16 21:04] aaupov commented on #278
@Haishan312,

Thanks for the log. Cold fragments are out of question.
@maksfb, @rafaelauler: any suggestions on how to track down/workaround possible LSDA corruption?

[2022-02-16 21:18] aaupov commented on #164
Not yet. Kernel support is in plans for this year, with an initial support for rewriting functions and booting optimized kernel aimed at the end of Q1'22.

[2022-02-16 21:24] yota9 commented on #164
Wow, cool news @aaupov ! :)

[2022-02-16 21:34] maksfb commented on #164
That's our optimistic plan. At the moment we are still a bit backlogged. @yota9, would you be interested in contributing?

[2022-02-16 21:42] yota9 commented on #164
Sure @maksfb , it looks like great task from my personal perspective, thanks! :) For now I'm working on other new task (connected to heap profiling), but I will try to keep up with everything :)

[2022-02-16 21:47] maksfb commented on #164
Nice. Will you be using BOLT at any stage for the heap profiling?

[2022-02-16 21:49] yota9 commented on #164
@maksfb I'm started from profiling using BOLT, yes. I hope the google will introduce tcmalloc api for this purpose while I'm busy with this :)

[2022-02-19 00:48] rafaelauler commented on #278
The toolchain (gcc-4.9.2) is quite old. Upgrading it should probably solve this. But I'm curious on why BOLT is messing up eh_frame. I would start by running BOLT without any optimization flags, without profile, -relocs=1 -lite=0, just to check that the program fails even when no code is changed. If it does not, then I would start to zero-in which function is causing the problem after being optimi

[2022-02-19 04:36] Haishan312 commented on #278
@rafaelauler thank you firstly.
my program run ok, when I add external `-lite=0` into recommended optimization options, like:
`llvm-bolt test -o test.elf -data=perf.fdata -reorder-blocks=cache+ -reorder-functions=hfsort -split-functions=2 -split-all-cold -split-eh -dyno-stats -lite=0 -v=2`
Would the `-lite=0` reduce the performance?

[2022-02-22 18:41] rafaelauler commented on #278
Hi @Haishan312, you're very welcome, thanks for reporting. -lite=0 will actually cause BOLT to take more time and memory to optimize the program because it is rewriting the entire program instead of just the important functions. If -lite=1 produces a faulty program but -lite=0 does not, then this is a lite mode bug. I'm interested in investigating this, let me know if you can reproduce this bug in

[2022-03-03 08:23] adhuliya commented on #91
This issue still persists. I just did a fresh build from the latest sources and ran bolt on a static binary. The assertion error is

    ...
    BOLT-DEBUG: Relocation: offset = 0x4a7fb1; type = R_X86_64_32; value = 0x57f828; symbol = __preinit_array_end
    (.init_array); symbol address = 0x57f828; addend = 0x0; address = 0x57f828; in = __libc_csu_init
    llvm-bolt: /nfs/iind/home/adhuliya/sanga

[2022-03-03 12:45] DreamTeamWangbowen opened #280 "core dumped"
[root@localhost home]# ./wbw/llvm-project-main/build/bin/llvm-bolt kvm-intel.ko -o kvm-intel.ko.bolt -data=perf.fdata -reorder-blocks=cache+ -reorder-functions=hfsort -split-functions=3  -split-all-cold -icf=1 -use-gnu-stack
BOLT-INFO: shared object or position-independent executable detected
BOLT-INFO: Target architecture: x86_64
BOLT-INFO: BOLT version: <unknown>
llvm-bolt: /home/wbw/llvm-projec

[2022-03-03 12:51] DreamTeamWangbowen commented on #280
@nico @drodriguez @zpao @d0k hi guys，please help me.

[2022-03-04 02:36] DreamTeamWangbowen commented on #280
This is linux kernel's module. And bolt support linux kernel module optimization?

[2022-03-04 02:37] #280 closed

[2022-03-07 07:18] Haishan312 commented on #278
@rafaelauler this binary is very large. Could you share your suggestion for fix-up this bug?

[2022-03-15 08:32] ZahraHeydari95 opened #282 "How to apply BOLT optimization on Sysbench benchmarks?"
[](https://stackoverflow.com/posts/71378210/timeline)I want to apply BOLT Optimizer to all benchmarks of Sysbench tool. But I do not know how to do this to do all the steps of the BOLT on it according to the steps in Redmi GitHub?

The benchmarks in question are from the Sysbench: cpu, memory, fileio, threads, mutex, OLTP benchmarks.

 https://github.com/akopytov/sysbench

Please guide me Thanks

[2022-03-17 16:02] aaupov commented on #282
Hello Zahra,

Please use the following command to record the profile while running the benchmark:

You can then pass the recorded perf.data directly to llvm-bolt, skipping perf2bolt step.

Please refer to the following guide: https://github.com/llvm/llvm-project/tree/main/bolt#step-3-optimize-with-bolt

[2022-03-18 06:37] aaupov commented on #91
@adhuliya, thanks for reporting!
Can you please test with an upstreamed BOLT (https://github.com/llvm/llvm-project/tree/main/bolt)? If the issue persists, can you please open a new ticket with some more details: compiler used, compiler flags, potential reproduction steps?

[2022-03-20 12:22] aaupov commented on #280
I guess you're the first to report trying to process a kernel module with BOLT :)
No, we don't support it yet. BOLT expects a `PT_LOAD` program header as shown in the assertion that failed.

[2022-03-20 12:26] aaupov commented on #227
@maksfb ok to close this announcement?

[2022-03-20 17:09] #227 closed

[2022-03-22 12:17] dongjianqiang2 commented on #206
@yota9 hello, I also encount the same issue when try to instrument big binary. it seems to be stub not relaxed properly.
resolveAArch64Relocation, LocalAddress: 0x7f393f3a82e4 FinalAddress: 0x6ce732e4 Value: 0x82b0000 Type: 0x11b Addend: 0x0
llvm-bolt: /home/djq/codehub/cpu-bolt/llvm/lib/ExecutionEngine/RuntimeDyld/RuntimeDyldELF.cpp:483: void llvm::RuntimeDyldELF::resolveAArch64Relocation(const l

[2022-03-22 12:20] yota9 commented on #206
Hello @dongjianqiang2 ! I'm trying to fix it from time to time, recently new patches were merged  and one of them is currently on the review https://reviews.llvm.org/D122039. Please try to apply it to the latest bolt version from the llvm repo https://github.com/llvm/llvm-project. If it won't help please let me see the binary if it is possible. Thank you!

[2022-03-23 02:37] DreamTeamWangbowen commented on #280
I see, thanks for your answer :)

[2022-04-01 05:59] scottconstable opened #285 "Is it possible to resize a section from a BinaryFunctionPass?"
I am trying to figure out how to expand the .rodata section from by `BinaryFunctionPass`. I can get the section and confirm that its size matches what I see in `objdump`, but then when I try to `addPatch` some bytes I do not observe any change in the output binary. Looking through the BOLT source code, I see some examples in `RewriteInstance.cpp` that appear to patch some data sections, but it isn

[2022-04-04 18:35] maksfb commented on #285
Resizing an existing allocatable section in-place is not currently possible. You can allocate a new section, e.g. `.rodata` and place new contents in there. This new section will be allocated in a newly created segment. The old section will be renamed `.bolt.org.rodata`. E.g., this is something BOLT does under `-jump-tables=move` option where new jump tables are being placed in `.rodata`.

[2022-04-04 19:59] scottconstable commented on #285
Hi, thanks for the prompt response. I now see that I can effectively create a new rodata section with the `BinaryContext::registerOrUpdateSection` API. Thanks!

[2022-04-04 19:59] #285 closed

[2022-04-12 08:10] #282 closed

[2022-04-12 08:12] ZahraHeydari95 opened #286 "Where should I add --emit-relocs to use BOLT?"
Please explain how to do step 0 of BOLT.
  Give me an example.
  I do not know where to add the --emit-relocs flag.
"
Step 0
In order to allow BOLT to re-arrange functions (in addition to re-arranging code within functions) in your program, it needs a little help from the linker. Add --emit-relocs to the final link step of your application. You can verify the presence of relocations by checking fo

[2022-04-12 08:28] yavtuk commented on #286
Hello,

you can do it through
-Wl,option
Pass option as an option to the linker. If option contains commas, it is split into multiple options at the commas.
https://gcc.gnu.org/onlinedocs/gcc-4.0.4/gcc/Link-Options.html

for example, gcc -o main main.c -Wl,--emit-relocs

[2022-04-12 17:16] wonjeon commented on #279
Thanks. Will close this issue.

[2022-04-12 17:16] #279 closed

[2022-04-13 07:31] dangit815 opened #287 "How will bolt integrate with llvm in the future?"
At present, bolt source code has been integrated into llvm. Will bolt processing flow be further combined with llvm in the future? For example, bolt uses **llvm IR** and **llvm optimization pass** to improve the effect of post-link optimizing?

Because in the binary phase, bolt can see more optimization opportunities, but currently bolt only supports BB block rearrangement, function rearrangement

[2022-04-13 07:35] dangit815 commented on #287
cc @rafaelauler @maksfb @aaupov

[2022-04-13 09:25] Haishan312 opened #288 "SegmentFault when strip binary which is optimized by BOLT"
Hi
  I use latest bolt to optimize bubble_sort binary with command line `llvm-bolt bubble_sort -o bubble_sort.bolt -data=perf.fdata -reorder-blocks=cache+ -reorder-functions=hfsort -split-functions=2 -split-all-cold -split-eh -dyno-stats --update-debug-sections -v=2`
bubble_sort's url is `https://github.com/VictorRodriguez/autofdo_tutorial` and is generated by command `make release`

Then using th

[2022-04-13 09:27] yota9 commented on #288
Hello @Haishan312 . Is it x86 or arm?

[2022-04-13 10:00] Haishan312 commented on #288
x86_64

[2022-04-13 10:37] Haishan312 commented on #288
@yota9 OS: x86_64
compiler: gcc-9.2.1
ld: 2.32
I pass `-Wl,--emit-relocs -fno-reorder-blocks-and-partition` into CFLAGS

[2022-04-13 18:04] rafaelauler commented on #287
I think I answered that in https://discourse.llvm.org/t/want-to-know-about-bolt-and-llvm-post-planning/61674 but let me know if there are any remaining questions.

[2022-04-13 20:02] maksfb commented on #288
@Haishan312, `eu-strip` is likely corrupting the binary. One (hacky) workaround is to add `-use-gnu-stack` flag to `llvm-bolt` invocation, which will try to reuse the existing program header for the new segment.

[2022-04-13 20:07] yota9 commented on #288
Oups didn't notice strip word, sorry :)

[2022-04-14 02:32] Haishan312 commented on #288
@maksfb it works, thank you.

[2022-04-14 02:39] #288 closed

[2022-04-18 07:01] dangit815 commented on #287
Thank you. In addition, where can I see the follow-up plan of bolt?

[2022-04-18 21:06] maksfb commented on #287
I've added a list of BOLT Open Projects at: https://discourse.llvm.org/t/bolt-open-projects/61857

[2022-04-21 02:48] dangit815 commented on #287
I see that "Raising IR" is mentioned here. What is the attitude of bolt community towards this direction? @maksfb @rafaelauler seem to have conflicting views on this direction.
![image](https://user-images.githubusercontent.com/27342851/164361682-f7085c16-98bf-42e0-9dc0-8c5c55bb8224.png)

[2022-04-22 17:12] rafaelauler commented on #287
I'm not opposed to the idea, but it is a non-trivial project.

[2022-04-22 18:39] maksfb commented on #117
Was fixed in "[BOLT] Support PLT sections with variable entry sizes".

[2022-04-22 18:39] #117 closed

[2022-04-24 08:04] CcWeapon opened #289 "Why add some nop after the method? when did BOLT add these nops?"

[2022-04-24 08:11] CcWeapon commented on #289
I want to use “-use-old-text” to reuse .text when  I don't use any optimizations. There was only one fake entry in the null.fdata.
e.g: `~/cpu-bolt/build/bin/llvm-bolt libxx.so -o libxx.bolt.none -data=null.fdata -reorder-blocks=none -reorder-functions=none -split-functions=0 -dyno-stats -use-old-text -v=1`

then , bolt log say
`BOLT-WARNING: original .text too small to fit the new code using 0x10

[2022-04-24 08:12] CcWeapon commented on #289
cc @rafaelauler @maksfb @aaupov

[2022-04-24 08:23] CcWeapon opened #290 "Why does bolt add a new .text at the end of the binary file instead of reusing the existing .text?"
I found that the binaries doubled in size after bolt optimization. The reason is that the existing .text is discarded and a new .text is generated at the end.

old :
![image](https://user-images.githubusercontent.com/33447048/164967187-6b19f55b-4dc1-4ea7-a29b-7e9bb56f16f5.png)

after bolt :
![image](https://user-images.githubusercontent.com/33447048/164967232-b381f82d-e79f-4f2c-866b-74e0975fdab2.p

[2022-04-24 10:10] getianao commented on #289
I guess it's because of the alignment of function or section. You can try to adjust the value like https://github.com/facebookincubator/BOLT/blob/88c70afe9d388ad430cc150cc158641701397f70/bolt/include/bolt/Core/BinaryFunction.h#L181.

[2022-04-25 01:40] CcWeapon commented on #289
It doesn't work. `--align-functions` mast >0， so i set it to 1, then bolt log say : `BOLT-WARNING: original .text too small to fit the new code using 0x1000 alignment. 2354092 bytes needed, have 2354072 bytes available.`
The required space is smaller, but still larger than the original space.

[2022-04-25 01:41] CcWeapon opened #291 "A dump about function cannot be properly disassembled when use -use-old-text"
When I tried to use bolt to optimize libart.so in AOSP, I used `-use-old-text` to reuse .text. A dump occurs.

You can notice that the previous method is `art_quick_invoke_static_stub`. In my other test that javaVm will restart fail after bolt libart.so , i find it will Exception when i call  `art_quick_invoke_static_stub` to invoke a java func after bolt instrement.   I think it is the point of t

[2022-04-25 09:29] CcWeapon commented on #291
Today, I found out that the problem of restarting runtime after libart.so was modified was not caused by disassembly.

I modified bolt to only add a segment for binary and still caused the bug to appear.

![image](https://user-images.githubusercontent.com/33447048/165061558-bc4e4f56-9a89-4337-be1a-bc5e53a030cf.png)

[2022-04-25 22:20] rafaelauler commented on #290
In general BOLT doesn't make a hard effort to save disk space (how much space a binary occupies in disk). BOLT targets performance by clustering hot code together and thus making the dynamic profile of the application use memory addresses that are closer together. It's all about how the processor sees the code and less about how it looks on disk. From the processor perspective, it looks as if the

[2022-04-26 01:40] CcWeapon commented on #290
thx! I have other question.
If -lite is used as you said, will the distance between .text and .cold be too far and the optimization effect deteriorate?

[2022-04-26 21:46] rafaelauler commented on #290
For the purposes of this discussion, let's suppose you're working with 4KB pages and your program has 10s of MB in size. The distance from hot .text to cold .text in this case doesn't matter because hot and cold will likely live in separate pages anyway. You could argue that you may start to lose performance if the program starts to map in cold pages all the time because of inaccurate profile (a h

[2022-04-27 08:23] #290 closed

[2022-04-27 08:24] CcWeapon commented on #290
Thanks, it's been very helpful!

[2022-04-29 09:35] LeiW000 opened #292 "perf2bolt: crashes with assertion."
I tried to bolt a PGO-based php-fpm binary. When I run perf2bolt, the following assertion was shown up.

[code]

[code]

The following is the version info of perf2bolt

[code]

[2022-04-29 15:09] aaupov commented on #292
Another potential cause is the presence of split functions:

BOLT is currently incompatible with the `-freorder-blocks-and-partition` compiler option producing split functions. Since GCC8 enables this option by default, you have to explicitly disable it by adding `-fno-reorder-blocks-and-partition` flag if you are compiling with GCC8 or above.

[2022-05-02 14:25] LeiW000 commented on #292
@maksfb, thanks. I need some time to try that option. Will update you if it can work later.

@aaupov , Thanks for the quick response. I used GCC7 to build php-fpm. My understanding is that I don't have to add that flag. Am I right?

[2022-05-02 16:07] aaupov commented on #292
Check your compiler flags, and if they include `-freorder-blocks-and-partition`, just remove it. GCC7 has this optimization but doesn't enable it by default.

[2022-05-06 01:37] CcWeapon opened #293 "A NullPtrException after BOLT on libart.so"
I use Bolt to optimize libart.so which is compiled by AOSP.  Then I push libart.so.bolt to Android Phone, and runtime aborted at art::Runtime::Start(). The reason why runtime aborted is getSystemClassLoader() in java got a nullptrException.
What puzzles me is why I've changed the c++ binaries to affect the running of java.

[code]
I'm trying to cut down on bolt. I set ignore for all func to avoid

[2022-05-06 01:42] suresh-srinivas opened #294 "BOLT/LLVM? does not preserve prefixes on conditional branches"
Discussing with @maksfb it looks like it is similar to issue https://reviews.llvm.org/D120592

I have an input binary of the form

[code]
It has 3 conditional branches with a prefix of 2e. This is the output after BOLTing. The 3 conditional branches don't have the prefixes anymore.

[code]

This looks like an underlying LLVM problem and not a BOLT problem?  I noticed the llvm-objdump does not seem

[2022-05-06 01:54] aaupov commented on #294
Yes, it looks similar to losing addr32 prefix: LLVM MC might be losing the prefix during disassembly, not setting it on MCInst.

On the other hand, these prediction prefixes are optional so we may want to strip them by default. What's the use case or perf effect here?

[2022-05-06 09:35] yota9 commented on #293
Hello, could you please try -use-gnu-stack option?

[2022-05-06 09:44] CcWeapon commented on #293
I tried it and it didn't work.

Today, however, I found that patchELFGOT() caused the problem. However, the specific cause is still being located.

[2022-05-06 19:16] suresh-srinivas commented on #294
Thanks @aaupov

This is ignored by the current processors. The static prediction is NT (Not Taken) and the prefix is ignored. They are also mostly not generated (except when using special compiler flags and likely/unlikely macros). So striping them by default would be right.

With or without the hint, the BPU is updated when the branch is taken.

We are doing some early research work to mark commo

[2022-05-18 12:31] Haishan312 opened #295 "Assert error in resolveAArch64Relocation"
when using latest bolt, I receive a assert error, such as:
[code]
the main reason is that bolt resolves symbols ` _ZNSs4_Rep10_M_destroyERKSaIcE@PLT`  in .plt section of binary.
The caller function rewrite into .text.cold section, but the callee `_ZNSs4_Rep10_M_destroyERKSaIcE@PLT` is in .plt section.
Therefore the Offset between caller and callee is out of range int<26>.

More information:
Reloca

[2022-05-18 15:17] yota9 commented on #295
Hello! What BOLT version do you use?  Using the latest bolt with this commit (https://github.com/llvm/llvm-project/commit/4c14519ecbba54870553611ed34dbec596e1f7e7) should fix the problem

[2022-05-20 14:37] yota9 commented on #295
@Haishan312 May I see the binary or at least function objdump +  readelf section/segments output? Probably the binary would be preferable way, since I need to see exactly what is going on there

[2022-05-23 15:31] davidmcastiel opened #296 "ELF32 support"
Hi,

can BOLT support ELF32?
what is the diff in implementation that prevents it from supporting ELF32?
can you estimate the effort to support it?
do you intend to support it?

Thanks,
David

[2022-05-23 20:21] maksfb commented on #296
It shouldn't be hard to add ELF32 support, although we don't have any immediate plans for it. Since ELF64 is already there, I think it will take about a month for ELF32.

[2022-05-25 23:44] maksfb commented on #291
What is the architecture you are building for? Since the function is most likely written in asm, you can try `-skip-funcs=art_quick_osr_stub.*`.

[2022-05-25 23:46] #287 closed

[2022-05-26 02:32] HShan886 commented on #295
@yota9 You can download the binary from this repo `git clone https://github.com/Haishan312/bolt-fixbugs.git`. Because of github issue limit the size of attach file.

[2022-05-26 08:16] yota9 commented on #295
@Haishan312 Yes, I was able to download it, thanks. Also I need your bolt options (and might be fdata file) to reproduce the issue

[2022-05-27 01:55] HShan886 commented on #295
@yota9 bolt options is `llvm-bolt ${binary_name} -o ${binary_name}.bolt -data=perf.fdata
    -reorder-blocks=cache+ -reorder-functions=hfsort
    -split-functions=2 -split-all-cold -split-eh
    -dyno-stats --update-debug-sections -v=2`

and the fdata file
[502.fdata.zip](https://github.com/facebookincubator/BOLT/files/8783325/502.fdata.zip)

[2022-05-27 10:02] yota9 commented on #295
@Haishan312 Thanks, I was able to repro the issue, it is not related to plt, but I will try to resolve it.

[2022-05-27 23:09] HShan886 commented on #295
@yota9 that's great, thank you.
I have another case which is related to plt. I am recovering a small binary

[2022-06-08 11:19] yota9 commented on #295
Hello @Haishan312 ! Sorry for long reply. I've checked out your binary, the problem is known to me and I've raised it earlier with goland support. Nevertheless I've found the way to fix it easily with this commit https://github.com/llvm/llvm-project/commit/fd9604952d80d62bc3db57fff07c047bb6773903 , please try to rebase the bolt on the latest commits and check if there are any other problems. Thank

[2022-06-08 12:45] pingzhaozz opened #297 "BOLT only failed with --hugify"
The problem I met only happens when I use `--hugify`.

I have a program which works well with BOLT.

I want to try the `--hugify` option. It passed BOLT process. But when I ran it, it will core dump. And problem seems at the entrypoint: (`0x10a0 is the disassamble _start address`), but different from readelf header. core dump happens at the _start(0x10a0) with segfault. GDB can't capture since pro

[2022-06-08 12:49] pingzhaozz commented on #297
Found on LLVM 14.0.1

[code]

[code]

[2022-06-08 13:01] yavtuk commented on #297
@pingzhaozz can you add simple test to reproduce it?

[2022-06-08 13:13] pingzhaozz commented on #297
I upload my sample code to: https://github.com/pingzhaozz/perf_sample
But it doesn't matter to reproduce this issue whether use this sample or other program.

The BOLT process would be like:
[code]

[2022-06-08 15:57] yavtuk commented on #297
@pingzhaozz this error is due to PIE binary, now you can use hugify for no-pie binaries. I will add the support for PIE soon, need some time to prepare the patch

[2022-06-09 00:38] pingzhaozz commented on #297
Thanks for the quick answer.

[2022-06-09 02:42] HShan886 commented on #295
@yota9 Thank you very much. This commit resolves my problem.

[2022-06-09 09:05] yota9 commented on #295
@Haishan312 Great!
Please close the issue if everything is solved :)

[2022-06-10 04:45] #206 closed

[2022-06-13 21:13] maksfb commented on #289
We always align the new `.text` at a page boundary. Historically, it was done for performance reasons. If the goal is to modify the binary for other reasons, it makes sense to remove the alignment. You can add a patch. Note that for C++, you need a 2-byte minimum alignment for functions for correctness reasons.

[2022-06-14 02:09] CcWeapon commented on #289
thx

[2022-06-14 02:09] #289 closed

[2022-06-18 03:42] nhuhuan commented on #245
Hi @nadavrot, the issue has been fixed and is now upstream:
[](https://github.com/llvm/llvm-project/commit/28b1dcb12280c3527c350352fb156347defc7092)

I've added a manual test to replicate the error. Thanks.

[2022-06-18 07:18] aaupov commented on #245
Thanks Huan!
The upstream commit: https://github.com/llvm/llvm-project/commit/28b1dcb12280c3527c350352fb156347defc7092

[2022-06-18 07:18] #245 closed

[2022-06-19 07:31] nhuhuan commented on #264
@fantblue Hi, the issue has been resolved and the fix has been landed to upstream: [D128111](https://reviews.llvm.org/D128111)

[2022-06-19 18:17] #264 closed

[2022-06-22 04:39] nadavrot commented on #245
Thank you @nhuhuan and @aaupov

[2022-06-24 09:03] HShan886 commented on #295
@yota9 [Your patch](https://github.com/llvm/llvm-project/commit/fd9604952d80d62bc3db57fff07c047bb6773903) would generate an illegal instruction on aarch64 platform.  when I use llvm-objdump tools to dump assembly. I get the an unknown instruction, such as:
  ae3254:       60 d9 72 b8     ldr     w0, [x11, w18, sxtw #2]
  ae3258:       00 b2 fc 7f  <unknown>unknown
  ae325c:       e0 03 11 aa     m

[2022-06-27 06:29] #293 closed

[2022-06-27 06:35] CcWeapon opened #298 "Why skip-function when it jump to itself？"
in BinaryFunction.cpp::BinaryFunction::disassemble()
[code]

my device is aarch64, and bolt is set to false for the IsSimple of this func. What's the reason for bolt doing this?

[2022-06-27 09:50] yota9 commented on #298
Hello @CcWeapon ! This is good question, I think it is there for historical reasons. I was thinking about removing this, but the case is quite rare and I didn't found it in my code base yet. To remove this I think we will need to write a few tests just to be sure everything works fine. Right now I don't see reasons why we won't handle such cases properly.. Maybe @maksfb or @rafaelauler might tell

[2022-06-27 10:15] yota9 commented on #295
Hello @Haishan312 ! I don't think the patch has anything to do with that. The options are the same as above? I've tried to repro your results and failed to find unknown instruction in the output binary.

[2022-06-27 21:58] rafaelauler commented on #298
If you reaching this line, it means your input binary has a weird function with a call to an address that is inside the same function of the call. It is not a recursive call because the call target is not the function address itself, but rather a block inside it. It is doing something like this:

func:
   ... instructions
   basicblock-a:
   .... instructions
   basic-block-b:
   call basicblock-a

[2022-06-27 22:13] rafaelauler commented on #298
Example of code exercising this case:

// This is reduced test case for BOLT containing an internal call based on
// GetCoreDump (from google core dumper).

  .text
  .globl getCallback
  .type getCallback, %function
getCallback:
  .cfi_startproc
	pushq	%rbp
	movq	%rsp, %rbp
	pushq	%r12
	pushq	%rbx
	subq	$288, %rsp
	callq	.Lnext_instr
.Lnext_instr:
	popq	%rax
  addq  $17, %rax
	addq	$288, %rsp
	po

[2022-06-27 22:14] yota9 commented on #298
I agree that the case is weird, but just wondering, but are there any real blocking things that prevents us from optimizing such things? Yes, there would be fall-through BB and we will create extra entry point, but actually it seems that everything should work fine. Or it us just an assumption that something weird asm-written might going on here and it is better not to touch such things?

[2022-06-27 22:39] yota9 commented on #295
Hello @Haishan312 ! I don't think the patch has anything to do with that. For some reason tbz instruction was not relaxed, I would check the reason soon. Thank you for reporting!

[2022-06-28 01:40] CcWeapon commented on #298
You can find art_quick_osr_stub() in AOSP, it calls .Losr_entry in itself. If I don't set this function to simple, what error might happen?
[code]

[2022-06-28 18:42] rafaelauler commented on #298
My worry with the function I pasted is that we have an unidentified code reference that we will not update / will break if we move these functions:

[code]

In the example above, the immediate $17 will not be updated by BOLT, and moving this code will break it. That's why we conservatively put this function into a block list.

[2022-06-30 12:48] yota9 commented on #295
@Haishan312 The problem was found in another part of LLVM https://reviews.llvm.org/D128740 . It may take some time before approve would be received, so fill free to apply this patch manually :)
UPD The patch has landed.

[2022-07-04 09:12] CcWeapon commented on #298
thx~

[2022-07-04 09:12] #298 closed, assigned to nobody

[2022-07-07 07:48] CcWeapon opened #299 "Why Is registerName Executed Twice for a Symbol?"
In bolt/lib/Rewrite/RewriteInstance.cpp::RewriteInstance::discoverFileObjects，I find there are 2 registerName() for a symbol。
Is the first registerName redundant?

[code]

[2022-07-08 06:33] yavtuk commented on #297
Hello @pingzhaozz,  https://reviews.llvm.org/D129107 this patch contains the support of PIE binaries, you can try to use it.

[2022-07-08 07:08] pingzhaozz commented on #297
@yavtuk Cool! I'll take a try and give you feedback next week.

[2022-07-11 06:57] ZahraHeydari95 opened #300 "How do I run BOLT on a benchmark of HHVM?"
Hello
I want to run a benchmark with HHVM.
On the other hand, I want to apply BOLT to it as well. But I don't know what to do.

```hhvm perf.php --wordpress --hhvm=/path/to/hhvm```

According to the BOLT instructions, I have to replace the execution binary in all three steps. But this binary (HHVM) has a series of inputs according to the above command.
As a result, the following questions arise fo

[2022-07-11 06:59] #286 closed

[2022-07-11 08:38] pingzhaozz commented on #297
@yavtuk I checked the patch: https://reviews.llvm.org/D129107 and llvm-bolt works with `--hugify` now. But I didn't see performance improvement after adding `--hugify`. Perhaps it's because my application already use hugepage for .text? Could you help look if the hugify.bolt file is correct?

This is without `--hugify`
[code]

This is with `--hugify`
[code]

[2022-07-18 05:56] yavtuk commented on #297
@pingzhaozz sure, I'll check but give me some time to find my notes

[2022-07-18 06:58] ZahraHeydari95 commented on #4
@dstogov
Hello
I wanted to ask you to explain to me what you finally did to be able to rebuild HHVM with -fno-reorder-blocks-and-partition and -Wl,-q or -Wl,--emit-relocs for BOLT optimization?
Thanks

[2022-07-18 07:10] yavtuk commented on #297
@pingzhaozz At first glance section addresses are fine, let’s check the support, starting from the OS level:

- Linux kernel needs to be built with the configuration options
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y    or   CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_HUGETLBFS=y
CONFIG_HUGETLB_PAGE=y

- cat /sys/kernel/mm/transparent_hugepage/enabled (has to be always or

[2022-07-19 22:39] aaupov commented on #4
Hi @ZahraHeydari95,
Please follow the instructions in https://docs.hhvm.com/hhvm/installation/building-from-source.
Extra cmake flags that I used are the following:
[code]
Disabling gold linker is needed because it doesn't accept -q (--emit-relocs) and -icf at the same time (https://sourceware.org/bugzilla/show_bug.cgi?id=18845), and icf is enabled by default by HHVM.

After cmake step, I built HH

[2022-07-25 09:00] CcWeapon opened #301 "A Problem About .got Table Updates"
Hello. I found that when BOLT updates the got table, only the main entry and the first secondary entry of the function are updated. The .got tables of other secondary entries of the function are not updated.
Why is that so?  Is it correct that all symbols in the .got table should be updated?

### Problem Analysis
When bolt updates .got, it will use function getBinaryFunctionAtAddress(). The return

[2022-07-25 09:08] CcWeapon commented on #205
aarch64不支持，需要自己搞一套，推荐先用x86验证，后续等官方更新或者去找民间实现

[2022-07-29 17:05] ZahraHeydari95 commented on #12
@takhandipu
Hello

You were able to optimize java with BOLT.
I was wondering how you did it?
Can you give me a summary of the function.
 I am very beginner.
Thanks

[2022-07-29 18:14] LifeIsStrange commented on #12
@takhandipu while very interesting (and definitely should potentially become common practice), IF I understand correctly, you optimized the JVM C++ binary, and not the runtime assembly outputed by the JIT?
As for the latter I'm not aware if that is possible.
Though a low hanging fruit would be to BOLT a graalvm native binary https://www.graalvm.org/22.1/reference-manual/native-image/
(note that wh

[2022-07-29 22:16] rafaelauler commented on #12
BOLT can't optimize jitted code. BOLT is a static binary optimizer, so anything generated during runtime is out of reach.

BOLT can be used to optimize the VM's library code, though, which can lead to measurable wins. In some VMs, a lot of time is spent running C++-written library code that the jitted code frequently calls, so optimizing this can be impactful. This is what happens with HHVM, for e

[2022-07-29 23:20] LifeIsStrange commented on #12
Yes that is why I was referring to graalVM native AOT java binaries that in theory should be boltable.
Btw since you work at Facebook I'd like to show you the extremely huge missed opportunity that is GraalPHP, as you can see on the benchmarks it very significantly outperform HHVM
https://github.com/abertschi/graalphp/blob/master/results.md
Which make sense since it reuses state of the art OpenJDK

[2022-07-29 23:23] LifeIsStrange opened #302 "Promote BOLT to the chromium team"
I'm pretty sure them not using it is a huge missed opportunity for end users performance (billions of humans) (and related projects such as Skia, ANGLE, freetype, etc)

That would be quite a meaningful utilitaristic goal.

[2022-07-29 23:47] ZahraHeydari95 commented on #12
Please guide me exactly which part of openjdk that I built should I optimize with bolt?
I do not understand.
Thanks
Can you give an example?

[2022-07-29 23:55] LifeIsStrange commented on #12
@ZahraHeydari95 I'm not sure I've never done it before. @takhandipu was not talking about openjdk but about the sibling project graalvm
He stated the package name:
graalvm-ce-java8-linux-amd64-20.1.0

Once you have it, explore the folder and try to find a file named libjvm.so
Then, install BOLT (cf repository Readme, or via recent LLVM), run it with the flags he stated
-reorder-blocks=cache+ -spli

[2022-07-30 00:20] ZahraHeydari95 commented on #12
@LifeIsStrange
Thank you very much for your advice.
I found libjvm.so.
But for the perf record step during BOLT optimization, what should I do running profiling?
Can it be done without profiling?

[2022-07-30 11:43] LifeIsStrange commented on #12
I'm not sure what it the precise difference between BOLT and regular PGO/autoFDO, if I understand correctly you need to do an execution of the program where you try to simulate common usages of the software, as to show to the optimizer the critical hot paths, a bit like a JIT.
Unfortunately doing just one run seems to me arbitrary and risk overfitting for somebusage pattern while disregard most ot

[2022-08-01 06:30] ZahraHeydari95 commented on #12
@LifeIsStrange
@rafaelauler

Yes, it is true, I know that if it is possible to know the hot paths, the number of taken and not taken branches, hot and cold functions, etc. in one run of the program, that is called profiling.
Then I can increase the severity of the optimization by injecting this information into bolt when optimizing but I don't know how to do this for libjvm.so? And even for other

[2022-08-01 20:08] rafaelauler commented on #12
To maximize wins, you need to collect the profile that captures the broadest set of scenarios you can. Note that BOLT is mostly used to reorder basic blocks and reorder functions (layout optimizations). Because of that, if you collect partial profile and the order of the blocks is not perfect, it is not going to cause the program to be slower than the original because typically the compiler is not

[2022-08-04 00:40] insilications commented on #302
Indeed, at such large scales the gains are huge.

[2022-08-04 02:45] aaupov commented on #302
I don't recall seeing an interest from chromium devs. Do you have any contacts? Feel free to ping them here.

[2022-08-11 01:37] maksfb commented on #301
Sorry, missed that earlier. Yes, you are right that GOT will not get updated in this case. What application were you trying to optimize?

[2022-08-11 02:00] CcWeapon commented on #301
We try to replace getBinaryFunctionAtAddress() with getBinaryFunctionContainingAddress() in func getNewFunctionAddress().
[code]

[2022-08-11 02:07] maksfb commented on #301
Sounds like you fixed it in your fork?

[2022-08-11 02:16] CcWeapon commented on #301
Yes, func getBinaryFunctionContainingAddress() is used to solve the problem.

[2022-08-11 02:16] CcWeapon commented on #301
Yes, func getBinaryFunctionContainingAddress() is used to solve the problem.

[2022-08-11 02:16] #301 closed, assigned to nobody

[2022-08-11 08:04] CcWeapon opened #303 "A Problem about IsSimple be used in disassemble"
According to the definition of IsSimple, the function whose IsSimple is false is still disassembled in relocation mode.
[code]

But as I read the code and tried it out, if a method is set to IsSimple=false in discoverFileObjects(), the method will be considered disassemble. The following code snippet ends at BinaryFunction::disassemable().
[code]

Is this a bug, or am I misunderstood?

@maksfb

[2022-08-18 21:36] corona10 commented on #302
@aaupov

FYI, CPython now adopt llvm-bolt as an experimental feature: https://github.com/python/cpython/commit/214eb2cce5caa99f476ae8abd406077e2c293a3c

I am expecting the usage through `./configure --enable-optimizations --with-lto --enable-bolt`

[2022-08-18 23:46] LifeIsStrange commented on #302
Friendly ping @nfischer
Since chromium use LTO and PGO, leveraging BOLT would be the next logical step for improving end users performance of the web

[2022-08-25 08:26] PeterYang12 commented on #297
@yavtuk hello, do you have any update about this patch? Has hugify PIE patch been merged?

[2022-09-07 05:41] nfischer commented on #302
It looks like folks on the Chromium build team are already thinking about this! :smile: I suggest you click the "star" icon for https://crbug.com/1163978 if you would like to be notified of further updates.

[2022-09-14 14:58] majin2020 opened #304 "Any ideas to support riscv architecture?"
I have encountered the need to use BOLT on machines with riscv architecture. Is there any plan to support riscv?

[2022-09-14 17:12] maksfb commented on #304
I'm not aware of any plans. You can try asking via official BOLT channels on discord/discourse.

[2022-09-14 19:13] aaupov commented on #304
CC @preames

[2022-09-15 00:28] preames commented on #304
Just for clarity, I was asking about basic scoping for a RISC-V target for BOLT which is why I got tagged, but I'm not planning any work on this in the immediate future.

[2022-10-12 01:30] yavtuk commented on #297
@PeterYang12 hello, you can find the patch to upstream here: https://reviews.llvm.org/D129107
I am gonna to prepare it for merge in a few days

[2022-10-12 01:38] PeterYang12 commented on #297
I can find the patch on  https://reviews.llvm.org/D129107. But I didn't see the patch in https://github.com/llvm/llvm-project/tree/main/bolt . Since our project will clone the project from github.
I will keep an eye on your patch recently. Thank you for your info.

[2022-10-12 07:11] zpget opened #307 "clang14 build with -update-debug-sections rewrite debug info core"
compiler: clang14, default dwarf5
error msg:
BOLT-INFO: SCTC: patched 39 tail calls (36 forward) tail calls (3 backward) from a total of 39 while removing 0 double jumps and removing 28 basic blocks totalling 140 bytes of code. CTCs total execution count is 70740640 and the number of times CTCs are taken is 0.
BOLT-INFO: padding code to 0xb800000 to accommodate hot text
BOLT-WARNING: empty locatio

[2022-10-12 23:28] aaupov commented on #307
Hi @zpget,

Thanks for reporting! Can you please also include full backtrace and the version of BOLT used?
It would also be helpful for us to be able to repro the build - if clang14 binary is built manually, what's the CMake command line? If it's distro built, which package is it?

@ayermolo - does that look familiar? Can that be the cause of the crash?

[2022-10-13 02:32] zpget commented on #307
1. bolt version: llvm-project-llvmorg-14.0.0 release
2. core line:
bolt/lib/Rewrite/DWARFRewriter.cpp
 switch (Entry.Kind) {
                default:
                  llvm_unreachable("Unsupported DWARFLocationEntry Kind.");

Kind:5

3. binary code is complex ,  main module depend on many other modules(static link)

[2022-10-13 05:08] aaupov commented on #307
I would suggest you check if the issue reproduces with the trunk version of BOLT first. AFAIK DWARF5 support was added to BOLT after LLVM14 release and it wasn't backported.

[2022-10-13 06:32] ayermolo commented on #307
Hi
I am currently on PTO so won't be able to look until next week, but does sound like you are using BOLT version that doesn't support DWARF5. Please try with trunk as Amir suggested.

[2022-10-13 09:16] zpget commented on #307
BOLT version:
BOLT-INFO: BOLT version: 56ff67ccd90702d87a44c7e60abe3c4986855493
with latest  trunk, still has core
   switch (Entry.Kind) {
                 default:
                  errs() << "BOLT-WARNING: Unsupported DWARFLocationEntry Kind. type="
                         << std::to_string(Entry.Kind) << '\n';
                   llvm_unreachable("Unsupported DWARFLocationEntry Kind.");
i add

[2022-10-13 09:21] zpget commented on #307
clang build with -gdwarf-4 -gstrict-dwarf ,
BOLT-WARNING: Unsupported DWARFLocationEntry Kind. type=8
add
@@ -516,6 +518,12 @@ void DWARFRewriter::updateUnitDebugInfo(
                       BaseAddress + Entry.Value0, BaseAddress + Entry.Value1,
                       Entry.Loc});
                   break;
+                case dwarf::DW_LLE_start_length:
+                     InputLL.emplace_bac

[2022-10-13 15:59] aaupov commented on #307
You're using non-upstreamed BOLT version which was last updated in Jan this year.
BOLT has been part of LLVM monorepo since then: https://github.com/llvm/llvm-project/tree/main/bolt

Please follow the instructions on that page (https://github.com/llvm/llvm-project/tree/main/bolt#manual-build) to check out and build the latest trunk version.

[2022-10-14 06:46] zpget commented on #307
ok,  now can fix coredump ,but get some ERROR:
BOLT-ERROR: unsupported form for DW_AT_call_return_pc

[2022-10-14 10:04] ayermolo commented on #307
Hmm. Are you sure you are on latest llvm trunk? I am pretty sure I fixed that and committed it.

[2022-10-14 10:48] zpget commented on #307
with this commit: 4f158995b9cddae392bfb5989af8c83101ae0789
https://github.com/llvm/llvm-project/commit/4f158995b9cddae392bfb5989af8c83101ae0789

today i see have a latest commit? 4d3a0cade2ed0bdc87256c197215691c2e279ed0
i need try again?

[2022-10-15 00:42] ayermolo commented on #307
I added support in https://reviews.llvm.org/D128526
Maybe I missed a case. Can you provide a binary and/or how it was build?

[2022-10-17 09:43] zpget commented on #307
compiler: llvm-project-14.0.5.src/clang f68d4e64a17b5699e0245b1a7c445830d38fd75f
demo: simple main demo
#include <iostream>
#include <stdio.h>
#include <string>
#include <unistd.h>
int LOOPS=1000;
void test() {
    for (int i = 0; i < LOOPS; i++ ) {
        std::string tmp = "hello" + std::to_string(i);
        std::cout << tmp << std::endl;
    }
}

int main() {
    while (true) {
        test();

[2022-10-17 23:17] #299 closed, assigned to nobody

[2022-10-18 00:48] maksfb commented on #299
Thanks for pointing this out. Indeed, there was no reason for calling the function twice.

[2022-10-18 22:33] ayermolo commented on #307
Debug Info in question comes from GCC compiled code.
https://reviews.llvm.org/D136204

[2022-10-19 17:49] #307 closed, assigned to nobody

[2022-10-21 02:13] zpget commented on #307
ok, test can work, thanks~

[2022-10-31 09:04] CcWeapon commented on #291
thx

[2022-10-31 09:04] #291 closed

[2022-10-31 09:10] CcWeapon commented on #300
q1: How to add -Wl, -q to hhvm binary?
You should have the source code and project of the hhvm, the compile option -Wl, or something that will be added to the build framework of the project. It is similar to Android.bp in AOSP or MakeFIle.
q2: How to get a profile on the above command which is for running the benchmark?
Use the compiled binary file to perform instrumentation and obtain the profile

[2022-11-07 12:35] CcWeapon opened #308 "A fatal error about -update-debug-sections"
When I wanted to use -update-debug-sections to keep the debug info, I encountered an error.

[code]
After the following temporary modification, the program can run properly. However, I think that it is unreasonable to modify llvm. You need to modify it.

As shown in the preceding figure, R_AARCH64_NONE in the section such as .rela.debug_loc is not processed in the current context. How do I process

[2022-11-07 12:36] CcWeapon commented on #308
@maksfb  Please help me

[2022-11-07 12:39] yota9 commented on #308
If I correctly understood your problem you should probably update to the latest LLVM-BOLT version: https://github.com/llvm/llvm-project/commit/6b22c370c82398273d690383f46830dd886e446b

[2022-11-08 01:31] CcWeapon commented on #308
A perfect answer, thank you.

[2022-11-08 01:31] #308 closed, assigned to nobody

[2022-11-11 06:54] HShan886 opened #309 "Any suggest to couple two functions?"
Hello,
   My binary has two functions without return instruction, that's the functions depend on each-other. After bolt, the two functions were splited into separate location. Therefore, how to emit the functions together?
  Thank you firstly.

[2022-11-11 07:38] yavtuk commented on #309
Hi @Haishan312, try to add -lite=0 to the list of bolt option

[2022-11-14 02:10] HShan886 commented on #309
Hi, @yavtuk This option doesn't work

[2022-11-14 12:06] yavtuk commented on #309
Can you add simple example and some details what you are doing and what you are waiting ?

[2022-11-15 00:26] rafaelauler commented on #309
As a mitigation, try --lite=1 --skip-functions=funcA,funcB

where funcA and funcB are these two special functions.

Ideally BOLT heuristics would detect that funcB is not another function, but instead a secondary entry point of funcA, and move these two together. Somehow this is failing for your input, so I agree with @yavtuk in the sense that it would be nice to have a test case.

[2022-11-15 01:54] HShan886 commented on #309
@yavtuk @rafaelauler thank you for replying. assembly code of the two functions shown as follow:
[code]
BOLT will put ec_encode_data_mbinit into other location. Then binary result in segment fault.

[2022-11-16 00:33] rafaelauler commented on #309
For the case that you posted, it mostly depends on what the ELF symbol table is telling us.  The compiler will probably not generate this code (let me know if that's not the case), so this is likely code written directly in assembly language. For these cases, the programmer needs to correctly classify the symbol types. If "ec_encode_data" is registered as being type "function"  (ELF STT_FUNC symbo

[2022-11-16 06:42] HShan886 commented on #309
@rafaelauler you are right. These code is written by assembly language. Moveover, [these functions](https://github.com/intel/isa-l/blob/master/include/aarch64_multibinary.h) are open source and update long ago.
172679: 0000000004c684c4     0 NOTYPE  LOCAL  DEFAULT   13 ec_encode_data_mbinit
417248: 0000000004c6851c    16 FUNC    GLOBAL DEFAULT   13 ec_encode_data

[2022-11-21 08:51] HShan886 commented on #309
@rafaelauler I try `--lite=1 --skip-functions=ec_encode_data_mbinit,ec_encode_data` option, but get a `UNREACHABLE` error. And stack shows:
[code]

[2022-11-21 09:04] yota9 commented on #309
The .size directives seems to be skipped for ec_encode_data_mbinit. Could you please try to add it manually in the source code and check if bolt would handle it?

[2022-11-22 00:42] yavtuk commented on #309
also it make sense to add the type for ec_encode_data_mbinit

#ifndef __APPLE__
	.type \name\()_mbinit,%function
#endif

[2022-11-23 02:49] HShan886 commented on #309
@yota9 add tail call instructions "bl ec_encode_data" in the source code, then program runs ok after bolt optimization.